* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  color: #02142B;
}

#btnBackToTop {
  position: fixed;
  bottom: 100px;
  right: 25px;
  background-color: #043877;
  color: white;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 99;
  text-decoration: none;
  vertical-align: middle;
  padding-bottom: 8px;
}

#btnBackToTop span {
  font-size: 48px;
}

.botonPrincipal {
  width: 164px;
  height: 40px;
  background-color: white;
  text-decoration: none;
  color: #02142B;
  font-weight: 700;
  border-radius: 4px;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 750px) {
  .botonPrincipal {
    width: 200px;
    height: 50px;
    font-size: 1.6rem;
    margin-top: 48px;
  }
}
@media (min-width: 1050px) {
  .botonPrincipal {
    width: 180px;
    height: 50px;
    font-size: 1.6rem;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .botonPrincipal:hover {
    background-color: #089de8;
    font-weight: bold;
    color: white;
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
}

.botonSecundario {
  text-decoration: none;
  width: 190px;
  color: white;
  height: 42px;
  padding: 10px;
  background-color: #043877;
  font-size: 1.4rem;
  -webkit-transform: all 900ms ease;
          transform: all 900ms ease;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
}
@media (min-width: 750px) {
  .botonSecundario {
    width: 213px;
    font-size: 1.8rem;
    margin: 0;
  }
}
@media (min-width: 1500px) {
  .botonSecundario {
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .botonSecundario:hover {
    background-color: #089de8;
    -webkit-transform: all 900ms ease;
            transform: all 900ms ease;
    font-weight: 700;
    scale: 1.1;
  }
}

.backButton {
  width: 70px;
  height: 40px;
  bottom: 0;
  position: absolute;
  background-color: white;
  z-index: 15;
  border-radius: 32px 32px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.backButton a {
  width: 32px;
  height: 32px;
  background-image: url(/icon/172458_down_arrow_icon.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
}
@media (min-width: 1500px) {
  .backButton {
    width: 80px;
    height: 48px;
    border-radius: 36px 36px 0px 0px;
  }
  .backButton a {
    background-size: 32px;
  }
}

.cardService {
  width: 100%;
  height: 213px;
  color: white;
  text-decoration: none;
  box-shadow: 8px 5px 14px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 8px 8px 14px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.54);
  border-radius: 8px;
}
.cardService .servicios__imagen {
  width: 100%;
  height: 213px;
  border-radius: 8px;
}
.cardService .servicios__texto {
  height: 33px;
  position: relative;
  top: -37px;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 0px 0px 8px 8px;
  background: rgba(4, 56, 119, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 750px) {
  .cardService {
    width: 300px;
    height: 180px;
  }
  .cardService .servicios__imagen {
    width: 300px;
    height: 180px;
  }
  .cardService .servicios__texto {
    font-size: 1.5rem;
  }
}
@media (min-width: 1500px) {
  .cardService {
    width: 375px;
    height: 250px;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
  }
  .cardService .servicios__imagen {
    width: 375px;
    height: 250px;
  }
  .cardService .servicios__texto {
    height: 48px;
    top: -52px;
    font-size: 2rem;
  }
  .cardService:hover {
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .cardService:hover div {
    background-color: #043877;
  }
}

.noticia__item {
  background-color: #043877;
  width: 272px;
  height: 450px;
  box-shadow: 8px 5px 14px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 8px 8px 14px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.54);
  color: white;
  border-radius: 8px;
}
.noticia__item picture {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px 8px;
}
.noticia__item picture img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}
.noticia__item .noticia__contenido {
  padding: 8px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.noticia__item .noticia__contenido .titulo {
  height: 100px;
}
.noticia__item .noticia__contenido .titulo h2 {
  font-size: 1.6rem;
  margin-bottom: 16px;
  font-weight: 500;
  color: white;
}
.noticia__item .noticia__contenido .titulo .fecha {
  margin-bottom: 16px;
  font-size: 1.4rem;
}
@media (min-width: 750px) {
  .noticia__item {
    background-color: #043877;
    width: 300px;
    height: 450px;
    box-shadow: 8px 5px 14px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 8px 8px 14px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.54);
    color: white;
    border-radius: 8px;
  }
  .noticia__item picture {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 15px 8px;
  }
  .noticia__item picture img {
    width: 100%;
    border-radius: 6px 6px 0 0;
  }
  .noticia__item .noticia__contenido {
    padding: 8px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .noticia__item .noticia__contenido .titulo {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .noticia__item .noticia__contenido .titulo h2 {
    font-size: 1.6rem;
    margin-bottom: 16px;
    font-weight: 500;
    color: white;
  }
  .noticia__item .noticia__contenido .titulo .fecha {
    margin-bottom: 16px;
    font-size: 1.4rem;
    justify-self: flex-end;
  }
}
@media (min-width: 1500px) {
  .noticia__item {
    background-color: #043877;
    width: 300px;
    height: 450px;
    box-shadow: 8px 5px 14px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 8px 8px 14px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.54);
    color: white;
    border-radius: 8px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .noticia__item picture {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 15px 8px;
  }
  .noticia__item picture img {
    width: 100%;
    height: 236px;
    border-radius: 6px 6px 0 0;
  }
  .noticia__item .noticia__contenido {
    padding: 8px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .noticia__item .noticia__contenido .titulo {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .noticia__item .noticia__contenido .titulo h2 {
    font-size: 1.6rem;
    margin-bottom: 16px;
    font-weight: 500;
    color: white;
  }
  .noticia__item .noticia__contenido .titulo .fecha {
    margin-bottom: 16px;
    font-size: 1.4rem;
    justify-self: flex-end;
  }
  .noticia__item:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
}

header {
  width: 100%;
  position: fixed;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 50;
  opacity: 0.8;
  background-color: #F7F7F7;
}

header:hover {
  opacity: 1;
}

.fixed {
  position: fixed;
  background-color: #F7F7F7;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.nav-container {
  width: 100%;
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-container .logo-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-container .logo-container img {
  width: 150px;
  height: 35px;
  margin-left: 20px;
}
.nav-container__menu label img {
  width: 30px;
  height: 30px;
}
.nav-container__menu input {
  display: none;
}
.nav-container__menu input:checked + .nav-movil {
  visibility: visible;
  right: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.nav-container__menu .nav-movil {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  position: fixed;
  top: 0;
  right: -300px;
  overflow: auto;
  visibility: hidden;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 10;
}
.nav-container__menu .nav-movil .nav-movil__cerrar {
  padding: 15px;
}
.nav-container__menu .nav-movil .nav-movil__cerrar img {
  width: 36px;
}
.nav-container__menu .nav-movil label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding: 8px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 10;
}
.nav-container__menu .nav-movil label img {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.nav-container__menu .nav-movil ul {
  list-style: none;
  width: 100%;
  height: 100vh;
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-container__menu .nav-movil ul li {
  margin-bottom: 1px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-container__menu .nav-movil ul li .noDisplay {
  display: none;
}
.nav-container__menu .nav-movil ul li a {
  text-decoration: none;
  color: #02142B;
  font-weight: bold;
  font-size: 2.4rem;
  display: block;
  padding: 20px;
}
.nav-container__menu .nav-movil ul li p {
  text-decoration: none;
  color: #02142B;
  font-weight: bold;
  font-size: 2.4rem;
  display: block;
  padding: 12px;
}
.nav-container__menu .nav-movil ul li .mobile-hidden {
  display: none;
}
.nav-container__menu .nav-movil ul li .mobile-show {
  margin-bottom: 15px;
  width: 95%;
  text-align: center;
  height: auto;
  border-radius: 8px;
}
.nav-container__menu .nav-movil ul li .mobile-show li {
  background-color: #089de8;
  width: 95%;
  border-radius: 8px;
}
.nav-container__menu .nav-movil ul li .mobile-show li a {
  background-color: #089de8;
  color: white;
  width: 95%;
  border-radius: 8px;
  padding: 16px;
}
.nav-container__menu .nav-movil ul li .mobile-show li hr {
  width: 80%;
}
.nav-container__menu .nav-movil ul li ul {
  padding: 0;
  margin: 0;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-container__menu .nav-movil ul li ul li {
  background-color: white;
  text-align: center;
}
.nav-container__menu .nav-movil ul li ul li a {
  font-weight: 400;
  font-size: 1.8rem;
  color: #02142B;
  background-color: white;
  padding: 0;
}
.nav-container__menu .nav-movil a.boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 60px;
  font-size: 1.4rem;
  text-decoration: none;
  border: 1px solid #043877;
  font-weight: 500;
  color: #043877;
  margin-left: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px;
}
.nav-container__navbar {
  display: none;
}
.nav-container .boton {
  display: none;
}

@media (min-width: 750px) {
  header {
    width: 100%;
    position: fixed;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    z-index: 50;
    opacity: 0.8;
    background-color: #F7F7F7;
  }
  header:hover {
    opacity: 1;
  }
  .fixed {
    position: fixed;
    background-color: #F7F7F7;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .nav-container {
    width: 100%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-container .logo-container {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-container .logo-container img {
    width: 200px;
    height: 55px;
    margin-left: 150px;
  }
  .nav-container__menu label img {
    width: 30px;
    height: 30px;
  }
  .nav-container__menu input {
    display: none;
  }
  .nav-container__menu input:checked + .nav-movil {
    visibility: visible;
    right: 0;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .nav-container__menu .nav-movil {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    position: fixed;
    top: 0;
    right: -700px;
    overflow: auto;
    visibility: hidden;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    z-index: 10;
  }
  .nav-container__menu .nav-movil .nav-movil__cerrar {
    padding: 15px;
  }
  .nav-container__menu .nav-movil .nav-movil__cerrar img {
    width: 36px;
  }
  .nav-container__menu .nav-movil label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    padding: 8px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: 10;
  }
  .nav-container__menu .nav-movil label img {
    width: 48px;
    height: 48px;
    margin-right: 16px;
  }
  .nav-container__menu .nav-movil ul {
    list-style: none;
    width: 100%;
    height: 100vh;
    margin-top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-container__menu .nav-movil ul li {
    margin-bottom: 1px;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-container__menu .nav-movil ul li .noDisplay {
    display: none;
  }
  .nav-container__menu .nav-movil ul li a {
    text-decoration: none;
    color: #02142B;
    font-weight: bold;
    font-size: 2.4rem;
    display: block;
    padding: 20px;
  }
  .nav-container__menu .nav-movil ul li p {
    text-decoration: none;
    color: #02142B;
    font-weight: bold;
    font-size: 2.4rem;
    display: block;
    padding: 12px;
  }
  .nav-container__menu .nav-movil ul li .mobile-hidden {
    display: none;
  }
  .nav-container__menu .nav-movil ul li .mobile-show {
    margin-bottom: 15px;
    width: 95%;
    text-align: center;
    height: auto;
    border-radius: 8px;
  }
  .nav-container__menu .nav-movil ul li .mobile-show li {
    background-color: #089de8;
    width: 95%;
    border-radius: 8px;
  }
  .nav-container__menu .nav-movil ul li .mobile-show li a {
    background-color: #089de8;
    color: white;
    width: 95%;
    border-radius: 8px;
    padding: 16px;
  }
  .nav-container__menu .nav-movil ul li .mobile-show li hr {
    width: 80%;
  }
  .nav-container__menu .nav-movil ul li ul {
    padding: 0;
    margin: 0;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-container__menu .nav-movil ul li ul li {
    background-color: white;
    text-align: center;
  }
  .nav-container__menu .nav-movil ul li ul li a {
    font-weight: 400;
    font-size: 1.8rem;
    color: #02142B;
    background-color: white;
    padding: 0;
  }
  .nav-container__menu .nav-movil a.boton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 120px;
    height: 60px;
    font-size: 1.4rem;
    text-decoration: none;
    border: 1px solid #043877;
    font-weight: 500;
    color: #043877;
    margin-left: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
  }
  .nav-container__navbar {
    display: none;
  }
  .nav-container .boton {
    display: none;
  }
}
@media (min-width: 1500px) {
  header {
    width: 100%;
    position: fixed;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    z-index: 50;
    opacity: 0.8;
    background-color: #F7F7F7;
  }
  header:hover {
    opacity: 1;
  }
  .fixed {
    position: fixed;
    background-color: #F7F7F7;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .nav-container {
    width: 100%;
    height: 94px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-container .logo-container {
    width: 30%;
    display: block;
    justify-self: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav-container .logo-container img {
    width: 280px;
    height: 70px;
    margin-left: 32px;
    margin-top: 10px;
  }
  .nav-container__menu {
    display: none;
  }
  .nav-container__navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    width: 55%;
  }
  .nav-container__navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    gap: 20px;
    height: 100%;
  }
  .nav-container__navbar ul li {
    height: 100%;
    position: relative;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    /*MENU DESPLEGABLE*/
    /*NOSOTROS*/
    /*SERVICIOS*/
    /*NOVEDADES*/
  }
  .nav-container__navbar ul li .noDisplay {
    display: block;
  }
  .nav-container__navbar ul li .Display {
    display: none;
  }
  .nav-container__navbar ul li a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #02142B;
    padding-bottom: 4px;
    padding: 6px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-container__navbar ul li .toggle__nosotros {
    width: 300px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    background: white;
    border-radius: 8px;
    box-shadow: 8px 5px 14px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 8px 8px 14px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.54);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 50px;
    z-index: 10;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .nav-container__navbar ul li .toggle__nosotros li {
    margin: 0;
    height: 100%;
    padding: 0 15px;
  }
  .nav-container__navbar ul li .toggle__nosotros li:hover {
    background-color: #089de8;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .nav-container__navbar ul li .toggle__nosotros li a {
    border: none !important;
    -webkit-transition: none;
    transition: none;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-container__navbar ul li .toggle__nosotros li a:hover {
    -webkit-transform: none;
            transform: none;
    color: white;
  }
  .nav-container__navbar ul li .toggle__servicios {
    width: 300px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    background: white;
    border-radius: 8px;
    box-shadow: 8px 5px 14px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 8px 8px 14px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.54);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 50px;
    z-index: 10;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .nav-container__navbar ul li .toggle__servicios li {
    margin: 0;
    height: 100%;
    padding: 0 15px;
  }
  .nav-container__navbar ul li .toggle__servicios li a {
    border: none !important;
    -webkit-transition: none;
    transition: none;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-container__navbar ul li .toggle__servicios li a:hover {
    -webkit-transform: none;
            transform: none;
    color: white;
  }
  .nav-container__navbar ul li .toggle__servicios li:hover {
    background-color: #089de8;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .nav-container__navbar ul li .toggle__novedades {
    width: 300px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    background: white;
    border-radius: 8px;
    box-shadow: 8px 5px 14px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 8px 8px 14px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.54);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 50px;
    z-index: 10;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .nav-container__navbar ul li .toggle__novedades li {
    margin: 0;
    height: 100%;
    padding: 0 15px;
  }
  .nav-container__navbar ul li .toggle__novedades li a {
    border: none !important;
    -webkit-transition: none;
    transition: none;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-container__navbar ul li .toggle__novedades li a:hover {
    -webkit-transform: none;
            transform: none;
    color: white;
  }
  .nav-container__navbar ul li .toggle__novedades li:hover {
    background-color: #089de8;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .nav-container__navbar ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 40px;
  }
  .nav-container__navbar li a:hover {
    border-bottom: 1px solid #333;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .nav-container .boton {
    width: 120px;
    height: 30px;
    font-size: 1.4rem;
    text-decoration: none;
    border: 1px solid #043877;
    font-weight: 500;
    color: #043877;
    margin-left: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .nav-container .boton:hover {
    background: #089de8;
    border: none;
    color: white;
    font-weight: bold;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    border-radius: 4px;
    box-shadow: 8px 5px 14px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 8px 8px 14px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.54);
  }
}
@media (min-width: 1500px) and (min-width: 1500px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-container {
    max-width: 1200px;
    height: 95px;
  }
  .nav-container .logo-container {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 30%;
  }
  .nav-container .logo-container img {
    width: 100%;
    height: 70px;
    max-width: 280px;
    margin: 0;
    margin-top: 10px;
  }
  .nav-container__navbar {
    width: 70%;
  }
  .nav-container__navbar ul li a {
    font-size: 1.6rem;
  }
  .nav-container .boton {
    width: 130px;
    height: 40px;
  }
}
.footer-container {
  width: 100%;
  background-image: url(../img/assets/bg-section.webp);
  background-position: center;
  background-size: cover;
  background-position-x: left;
  background-repeat: no-repeat;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-container .footer-movil__container {
  height: 100%;
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-container .footer-movil__container .footer-movil__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-container .footer-movil__container .footer-movil__logo picture img {
  width: 200px;
  height: 53px;
}
.footer-container .footer-movil__container .footer-movil__logo .derechosAutor {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 36px;
}
.footer-container .footer-movil__container .footer-movil__logo .redes1 {
  display: none;
}
.footer-container .footer-movil__container .contacto {
  text-align: center;
}
.footer-container .footer-movil__container .contacto h3 {
  font-size: 2rem;
  margin-bottom: 12px;
}
.footer-container .footer-movil__container .contacto p {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 8px;
}
.footer-container .footer-movil__container .contacto p span {
  font-weight: 400;
}
.footer-container .footer-movil__container .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
  gap: 16px;
}
.footer-container .footer-movil__container .redes img {
  width: 35px;
}
.footer-container .footer-movil__container .footer-movil__logo, .footer-container .footer-movil__container .redes, .footer-container .footer-movil__container .contacto {
  width: 100%;
}

@media (min-width: 1050px) {
  .footer-container {
    width: 100%;
    height: auto;
  }
  .footer-container .footer-movil__container {
    width: 100%;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
  }
  .footer-container .footer-movil__container .footer-movil__logo {
    width: 28%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer-container .footer-movil__container .footer-movil__logo .derechosAutor {
    margin-bottom: 0;
  }
  .footer-container .footer-movil__container .footer-movil__logo .redes1 {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
  }
  .footer-container .footer-movil__container .footer-movil__logo .redes1 a {
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .footer-container .footer-movil__container .footer-movil__logo .redes1 img {
    width: 35px;
  }
  .footer-container .footer-movil__container .footer-movil__logo .redes1 a:hover {
    margin-top: -8px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .footer-container .footer-movil__container .contacto {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
    width: 60%;
  }
  .footer-container .footer-movil__container .contacto p {
    font-size: 1.4rem;
  }
  .footer-container .footer-movil__container .contacto p span {
    font-weight: 300;
  }
  .footer-container .footer-movil__container .redes {
    display: none;
  }
}
@media (min-width: 1500px) {
  .footer-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 200px;
    padding-bottom: 20px 40px;
  }
  .footer-container .footer-movil__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
  }
  .footer-container .footer-movil__container picture img {
    width: 140px;
    height: 77px;
  }
}
.main-container__carrusel {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d9d9d9;
  position: relative;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.main-container__carrusel .slider {
  position: relative;
  background: #000116;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.main-container__carrusel .slider .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  clip-path: circle(0% at 0 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-container__carrusel .slider .slide .main-container__filtroAzul {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(7deg, rgb(2, 0, 36) 24%, rgb(4, 56, 119) 65%, rgb(7, 88, 186) 100%);
  opacity: 0.6;
  position: absolute;
  z-index: 10;
}
.main-container__carrusel .slider .slide img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-container__carrusel .slider .slide .info {
  width: 80%;
  height: 600px;
  position: absolute;
  max-width: 80%;
  color: #02142B;
  padding: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  z-index: 100;
}
.main-container__carrusel .slider .slide .info h2 {
  font-size: 3.2rem;
  line-height: 36px;
  height: auto;
  font-weight: 800;
  margin-bottom: 12px;
  color: white;
}
.main-container__carrusel .slider .slide .info p {
  font-size: 1.4rem;
  max-width: 514px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
  color: white;
}
.main-container__carrusel .slider .active {
  clip-path: circle(150% at 0 50%);
  -webkit-transition: 1s;
  transition: 1s;
}
.main-container__carrusel .slider .navigation {
  height: 80%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-container__carrusel .slider .navigation i img {
  width: 25px;
  height: 25px;
}
.main-container__carrusel .slider:active .navigation {
  opacity: 1;
}
.main-container__carrusel .slider .prev-btn, .main-container__carrusel .slider .next-btn {
  z-index: 15;
  color: #02142B;
  background: rgba(255, 255, 255, 0.8);
  padding: 25px;
  cursor: pointer;
}
.main-container__carrusel .slider .prev-btn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.main-container__carrusel .slider .next-btn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.main-container__carrusel .slider .navigation-visibility {
  z-index: 90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.main-container__carrusel .slider .navigation-visibility .slide-icon {
  z-index: 90;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  margin: 0 6px;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 25px rgba(1, 1, 1, 0.2);
          box-shadow: 0 5px 25px rgba(1, 1, 1, 0.2);
}
.main-container__carrusel .slider .navigation-visibility .slide-icon.active {
  background: white;
}
@media (min-width: 750px) {
  .main-container__carrusel .slider .slide .info {
    width: 70%;
    height: 50%;
    max-width: 70%;
  }
  .main-container__carrusel .slider .slide .info h2 {
    font-size: 5rem;
    line-height: 56px;
    margin-bottom: 16px;
  }
  .main-container__carrusel .slider .slide .info p {
    font-size: 1.5rem;
  }
  .main-container__carrusel .slider .navigation {
    height: 90%;
  }
  .main-container__carrusel .slider .navigation i img {
    width: 32px;
    height: 32px;
  }
  .main-container__carrusel .slider:active .navigation {
    opacity: 1;
  }
}
@media (min-width: 1500px) {
  .main-container__carrusel .slider .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-container__carrusel .slider .slide .info {
    width: 46%;
    height: 400px;
    max-width: 50%;
    margin-left: 160px;
  }
  .main-container__carrusel .slider .slide .info h2 {
    font-size: 8rem;
    line-height: 84px;
    margin-bottom: 16px;
  }
  .main-container__carrusel .slider .slide .info p {
    font-size: 1.8rem;
    line-height: 24px;
    margin-bottom: 20px;
    width: 70%;
  }
  .main-container__carrusel .slider .navigation {
    height: 90%;
  }
  .main-container__carrusel .slider .navigation i img {
    width: 32px;
    height: 32px;
  }
  .main-container__carrusel .slider .prev-btn, .main-container__carrusel .slider .next-btn {
    z-index: 15;
    color: #02142B;
    background: rgba(255, 255, 255, 0.8);
    padding: 25px;
    cursor: pointer;
  }
}