extend ../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/09agosto.webp", alt="Background de la noticia")
                    h2 Taller de Desarrollo de Competencias Gerenciales en INTEC
            
            section.publicacion__content
                p 09 de agosto de 2024
                
                div
                    p En Mejía Lora & Asociados, estamos comprometidos con el crecimiento y desarrollo de nuestro equipo. Recientemente, nuestros colaboradores participaron en el taller "Desarrollo de Competencias Gerenciales para Líderes de Alto Potencial" impartido en INTEC.

                    p Este evento fue una oportunidad invaluable para fortalecer habilidades gerenciales y preparar a nuestros líderes para enfrentar los retos del futuro con mayor eficacia y visión estratégica. Estamos orgullosos de nuestro equipo y de su constante evolución hacia la excelencia.


            section.publicacion__otras
                h2 Otras Noticias

                +noticiaPrincipal