extend ../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/licenciadoRaymi.webp", alt="Background de la noticia")
                    h2 PRESENTACIÓN DE RESULTADOS DEL MINISTERIO DE TURISMO 2023
            
            section.publicacion__content
                p 13 de enero de 2024
                
                div
                    p Honrados de ser parte de la presentación de resultados del Ministerio de Turismo 2023, dónde compartimos junto a líderes destacados como Roberto Chapur de Aloft Santo Domingo y Hard Rock Hotels, René Grullo VP del Grupo Financiero Popular, Monika Infante de Aerodom, y Juan Manuel Martin de Oliva VP del Banco Popular Dominicano.
            
            section.publicacion__otras
                h2 Otras Noticias

                +noticiaPrincipal