extend ../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/16julio2.webp", alt="Background de la noticia")
                    h2 Energía del Futuro: Innovación y Sostenibilidad
            
            section.publicacion__content
                p 16 de julio de 2024
                
                div
                    p Nos complace anunciar que la Licenciada Sayka Mejía, Socia, Mauricio Rodriguez, Gerente de Consultoría de Negocios, Ana Rocha, Gerente de Contabilidad, María Ledezma, Contador, Yohanna Herrera, Supervisora de Impuestos, Indira Jiménez, Gerente de Auditoría, Ana Gozález, Gerente de Impuestos y Lisandro González, Gerente de Impuestos, asistieron el día de hoy al evento "Energía del Futuro: Innovación y Sostenibilidad" organizado por AmChamDR.

                    p Durante este encuentro, se fomentó el uso de tecnologías avanzadas para aumentar la penetración de energías renovables, subrayando nuestro compromiso con la innovación y la sostenibilidad. Reafirmamos nuestro compromiso con el desarrollo sostenible y la adopción de prácticas energéticas responsables.


                    

            section.publicacion__otras
                h2 Otras Noticias

                +noticiaPrincipal