extend ../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/20feb.webp", alt="Background de la noticia")
                    h2 JURAMENTACIÓN WOMEN OF IFA NETWORK (WIN) INTERNATIONAL FISCAL ASSOCIATION (IFA)
            
            section.publicacion__content
                p 19 de febrero de 2024
                
                div
                    p La Licenciada Sayka Mejía en la Juramentación Women of IFA Network (WIN) / International Fiscal Association (IFA), designada como representante WIN-RD y parte de la Junta Directiva de la Asociación Tributaria de la República Dominicana (ATRIRD) periodo 2024-2026 y la Licenciada Nallil Rodríguez, Gerente de Auditoría de MLA designada como Primer Delegado WIN-RD, dicho acto fue celebrado en el hotel JW Marriot.

                    p Women of IFA Network (WIN), la Red de Mujeres de IFA, representa y conecta a las mychas mujeres profesionales que trabajan en impuestos internacionales. IFA se esfuerza por ser representativa de una comunidad fiscal internacional dinámica y fomenta la participación de las mujeres en las estructuras y procediminetos de la Asociación.


            
            section.publicacion__otras
                h2 Otras Noticias

                +noticiaPrincipal
