extend ../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/25septiembre.webp", alt="Background de la noticia")
                    h2 Notificación de la entidad informante del reporte País por País en la República Dominicana
            
            section.publicacion__content
                p 25 de septiembre de 2024
                
                div
                    p 
                        | Si perteneces a un grupo multinacional y no eres la matriz o sociedad representante, recuerda que tienes hasta el 30 de septiembre de 2024 para notificar a la DGII la entidad que presentará el Reporte País por País.¡Evita sanciones y asegúrate de cumplir con la Norma General 08-21!
                        br
                        br
                        | Las empresas dominicanas que formen parte de un grupo multinacional, distintas de la matriz última o la sociedad representante, tienen la obligación de informar a la DGII la identidad de la entidad que presentará el Reporte País por País. Deben especificar la razón social y el país de residencia de dicha entidad.
                        br
                        br
                        | Para los grupos con fecha límite de presentación del reporte País por País el 31 de diciembre de 2024, la entidad informante debe ser notificada a la DGII a más tardar el 30 de septiembre de 2024.
                        br
                        br
                        | Esta notificación debe realizarse al menos tres meses antes del cierre del ejercicio fiscal para garantizar el cumplimiento del Párrafo I, Artículo 5, de la Norma General 08-21.
                    


            section.publicacion__otras
                h2 Otras Noticias

                +noticiaPrincipal