extend ../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/7marzo.webp", alt="Background de la noticia")
                    h2 TASA DE CAMBIO PARA LA LIQUIDACIÓN Y PAGO DE ITBIS EN HOTELES ACOGIDOS A APA
            
            section.publicacion__content
                p 07 de marzo de 2024
                
                div
                    p Tomando en consideración que la tasa de cambio aprobada por la Dirección General de Impuestos Internos (DGII) para realizar la liquidación y pago del impuesto a las transferencias de Bienes Industrializados y Servicios (ITBIS) es la misma que el Banco Centrar publica como Tasa de Cambio Promedio mensual para la compra de divisas en el Mercado Spot, les informamos que la tasa de cambio que deberá utilizarse para el pago del ITBIS en operaciones acogidas al APA de febrero de 2024 es: 

                    strong RD$/US$: 58.5124


            
            section.publicacion__otras
                h2 Otras Noticias

                +noticiaPrincipal
