extend ../../../componentes/_plantillaEn.pug

block javaScript
    script(src="../../../subscript.js")

block contenido

        main
            section.news__titular
                h2 News

            div.news__container
                //ESTO SERÁ ELIMINADO CUANDO SE HAGA EL BACKEND
                section.news-noticias
                    
                    //SEPTIEMBRE
                    +aviso("06septiembre.webp", "Photos of foundation collaboration activity", "Distribution of school supplies to children in the Villa Mella community", "September 6", "/english/html/noticias/publicaciones/06septiembre.html")
                    hr

                    +aviso("03septiembre.webp", "Photo of Engineer Mauricio Rodriguez", "Meet Mauricio Rodriguez", "September 3", "/english/html/noticias/publicaciones/03septiembre.html")
                    hr

                    //AGOSTO
                    +aviso("19agosto.webp", "Photo of Edgar Melendez", "Congratulations Edgar J. Melendez!", "August 19", "/english/html/noticias/publicaciones/19agosto.html")
                    hr

                    +aviso("15agosto.webp", "Photo of Restoration Day", "Restoration Day", "August 15", "/english/html/noticias/publicaciones/15agosto.html")
                    hr

                    +aviso("09agosto.webp", "Photo of MLA Managers at INTEC", "Managerial Competency Development Workshop at INTEC", "August 9", "/english/html/noticias/publicaciones/09agosto.html")
                    hr
                    
                    //JULIO
                    +aviso("25julio.webp","Descriptive image", "Country-by-Country Report Issuance Action 13, BEPS Project","July 25", "/english/html/noticias/publicaciones/25Julio.html")
                    hr
                    
                    +aviso("23julio.webp","Photo of Ms. Sayka Mejia at the congress", "XIV Tax Congress", "July 23", "/english/html/noticias/publicaciones/23Julio.html")
                    hr

                    +aviso("22julio.webp","Descriptive photo of the news", "Congratulations Bepensa Dominicana","July 22", "/english/html/noticias/publicaciones/22Julio.html")
                    hr

                    +aviso("17julio.webp","Descriptive image", "Minor Expense Vouchers (b13 e-43)","July 17", "/english/html/noticias/publicaciones/17Julio.html")
                    hr
                                        
                    +aviso("16julio2.webp","Photo with MLA executives", "Energy of the Future: Innovation and Sustainability", "July 16", "/english/html/noticias/publicaciones/16Julio2.html")
                    hr

                    +aviso("16julio.webp","Photo of Ms. Firelli", "Sustainable Development Goals Workshop","July 16", "/english/html/noticias/publicaciones/16Julio.html")
                    hr

                    +aviso("09julio.webp","Photos of MLA executives", "80th Anniversary of ICPARD","July 09", "/english/html/noticias/publicaciones/09Julio.html")
                    hr

                    //MAYO

                    +aviso("10junio.webp", "descriptive photo of the news", "APA Exchange Rate May 2024", "June 10", "/english/html/noticias/publicaciones/10Junio.html")
                    hr
                    +aviso("05junio.webp", "Planet Earth being held by the hands of a father and his son", "World Environment Day", "June 5", "/english/html/noticias/publicaciones/05Junio.html")
                    hr
                    +aviso("03junio.webp", "photo of Licenciada Firelli Mejía", "XXII Regional Congress of Internal Auditing", "June 3", "/english/html/noticias/publicaciones/03Junio.html")
                    hr
                    +aviso("29mayo.webp", "photo with text about what will be read below", "Important Notice", "May 29", "/english/html/noticias/publicaciones/29Mayo.html")
                    hr
                    +aviso("26mayo.webp", "photo with text about what is to be read below", "Happy Mother's Day", "May 26", "/english/html/noticias/publicaciones/26Mayo.html")
                    hr
                    +aviso("21mayo.webp", "photo with text about what is to be read below", "Mr. Raymi Mejía will participate in two key international events of BKR International", "May 21", "/english/html/noticias/publicaciones/21Mayo.html")
                    hr
                    
                    //ABRIL
                    
                    
                    +aviso("16abril.webp","Photo with text about what is going to be read below", "KNOW THE BENEFITS OF ELECTRONIC INVOICING","April 16", "/english/html/noticias/publicaciones/16abril.html")
                    hr
                    +aviso("19marzo.webp","Photo with text about what is going to be read below", "EXCHANGE RATE FOR SETTLEMENT AND PAYMENT OF ITBIS IN HOTELS UNDER ADVANCE PRICING AGREEMENTS","April 13", "/english/html/noticias/publicaciones/13abril.html")
                    hr
                    +aviso("19marzo.webp", "picture with text about what will be read below", "Availability for submission of Annual Sworn Statement of Salary Withholding Agent (IR-13)", "March 19","/english/html/noticias/publicaciones/19Marzo.html")
                    hr
                    +aviso("8marzo.webp", "International Women's Day Image", "Today we commemorate International Women's Day", "March 8","/english/html/noticias/publicaciones/8Marzo.html")
                    hr
                    +aviso("7marzo.webp","Photo with text about what is going to be read below", "Exchange rate for the calculation and payment of ITBIS in hotels under APA","March 7th","/english/html/noticias/publicaciones/7Marzo.html")
                    hr
                    +aviso("5marzo.webp","Photo with text about what is going to be read below", "Deadline for payment of 1st installment IPI 2024", "March 5th","/english/html/noticias/publicaciones/5Marzo.html")
                    hr
                    +aviso("15febrero.webp","picture with text about what is going to be read below", "New contribution caps for the Contributory Regime","February 15", "The Social Security Treasury established the new contribution caps for the contributory regime. These modifications are contained in Resolution 01-2024, issued by the institution, and came into effect as of February 1, 2024. According to the mentioned provision, the applicable national minimum wage for the calculation of contribution caps is RD$19,352.50.", "This amount is used as a reference to determine the contributions corresponding to Work Risks Insurance, Family Health Insurance, and Old Age, Disability, and Survivor Insurance.", "www.instagram.com/p/C3XszL2Lo2l/?hl=en&img_index=1")
                    hr
                    +aviso("FEB7.webp", "Informative photo with the planet and the company logo", "Deadline for filing IR-13", "February 7", "We remind you that the deadline for filing the Annual Declaration of Employee Withholdings (IR-13) is March 15, 2024.","", "www.linkedin.com/company/mejia-lora-&-asociados/posts/?feedView=all")
                    hr
                    +aviso("15febrero.webp","picture with text about what is going to be read below", "New contribution caps for the Contributory Regime","February 15","/english/html/noticias/publicaciones/15Febrero.html")
                    hr
                    +aviso("FEB7.webp", "Informative photo with the planet and the company logo", "Deadline for filing IR-13", "February 7","/english/html/noticias/publicaciones/7Febrero.html")
                    hr
                    +aviso("FEB6.webp", "Informative photo with the planet and the company logo", "Deadline for electronic invoicing implementation", "February 6", "/english/html/noticias/publicaciones/6Febrero.html")
                    hr
                   
                    +aviso("ley179-09.webp","Informative photo with the planet and the company logo","Deadline for Salaried Individuals Tax Filing under Education Law","February 1st","/english/html/noticias/publicaciones/1Febrero.html")
                    hr
                    +aviso("fitur.webp", "Photo of Licenciado Raymi Mejia and Licenciada Maria Curiel at Fitur 2024", "MLA at Fitur 2024", "January 25","/english/html/noticias/publicaciones/25Enero.html")
                    hr
                    +aviso("implementacionProyecto.webp", "Photo with the same letters as the description", "BEPS Project Implementation Action 13 Country-by-Country Report", "January 22","/english/html/noticias/publicaciones/22Enero.html")
                    hr
                    +aviso("elevandoExito.webp", "Photo with the same letters as the description", "Your Expert Partner in the journey of success", "January 17","/english/html/noticias/publicaciones/17Enero.html")
                    hr
                    +aviso("licenciadoRaymi.webp", "Photo of licensed Raymi at results presentation", "Ministry of Tourism 2023 Results Presentation", "January 13","/english/html/noticias/publicaciones/13Enero.html")
                    hr
                   

                    +aviso("placa.webp","Recognition of Excellence","Recognition of Excellence","December 12","https://www.instagram.com/p/C1Hoj7rrcc7/?hl=es&img_index=1")
                    hr
                    +aviso("presentacion.webp","Slide de Powerpoint","Trends in Taxation in a Digitized World","December 11","#")
                    hr
                    +aviso("reunionDeFirmas.webp","BKR International Global Signature Meeting","BKR International Global Signature Meeting","November 17","")
                    hr
                    +aviso("ampliacion.webp","letras iguales al texto de abajo","Expansion at MLA","November 14","")
                    hr
                    +aviso("cenaClausura.webp","Foto del cierre de la cena","XXXV Conferencia Interamericana de conabilidad","November 13","")
                    hr




                    +aviso("microsoftteams-image.webp","Reunion de BKR Internacional","BRK Regional Meeting","24 de Mayo","")
                    hr
                    +aviso("microsoftteams-image-1.webp","letras iguales al texto de abajo","Elevamos nuestro compromiso","19 de Mayo","")
                    hr
                    +aviso("publicacion-1.webp","letras iguales al texto de abajo","Día del contador público","17 de Mayo","")
                    hr
                    +aviso("1.webp","Imágen con el mismo texto de debajo","Miembros de BKR INTERNACIONAL","10 de Abril","")
                    hr
                    +aviso("aviso-normas-08.webp","imágen con texto descriptivo","Norma General No.08-2022","20 de Mayo","")
                    hr
                    +aviso("plantilla-informativa-mla-5.webp","imágen con texto descriptivo","Tasas de cambio para el tratamiento de las diferencias cambiarias","5 de Mayo","")
                    hr
                    +aviso("1-1.webp","imágen con texto descriptivo","Norma general No.09-2021","9 de Noviembre","")
                    hr
                    +aviso("1co.webp","imágen con texto descriptivo","Actualización de multas administrativas","2 de Noviembre","")
                    hr
                    +aviso("colaboradores-2.webp","Foto del Lic. Lisandro Gonzalez","Promoción interna MLA","2 de Noviembre","")
                    hr
                    +aviso("4.webp","imágen con texto descriptivo","Actividad de lanzamiento de alanube soluciones","30 de Octubre","")
                    hr
                    +aviso("1635541951809.webp","imágen con texto descriptivo","Día nacional de la prevención del lavado de activos","29 de Octubre","")
                    hr
                    +aviso("noticia5.webp","imágen con texto descriptivo","Obligación de remisión del estudio de precios de transferencia","27 de Octubre","")
                    hr
                    +aviso("noticia6.webp","imágen con texto descriptivo","Multiplicador para el ajuste con inflación cierre al 30 de septiembre 2021","25 de Octubre","")
                    hr
                    +aviso("noticia4.webp","imágen con texto descriptivo","Tasas de cambio para el tratamiento de las diferencias cambiarias","25 de Octubre","")
                    hr
                    +aviso("noticia3.webp","imágen con texto descriptivo","Nuevas facilidades de pago para deudas tributarias","22 de Octubre","")
                    hr
                    +aviso("noticia2.webp","imágen con texto descriptivo","Fecha límite presentación de la declaración jurada IR-2 2021 Cierre 30 de Junio","")
                    hr
                    +aviso("noticia1.webp",
                    "imágen con texto descriptivo",
                    "Fecha límite de pago 2da cuota impuesto sobre activos (ISA) del periodo 2020","21 de Octubre"
                    ,"")
                    
                //section.news-boletines
                    h2 Boletines
                    article
                        img(src="../../img/avisos/doing.webp", alt="Imagen con el escudo de la bandera dominicana")
                        a(href="") Descargar PDF
                    article
                        img(src="../../img/avisos/as-para-el-cumplimiento-tributario-1.webp", alt="Imagen de felicitaciones")
                        a(href="") Descargar PDF
                    article
                        img(src="../../img/avisos/letter-from-the-chair.webp", alt="Carta del chairman de BKR")
                        a(href="") Descargar PDF
                    article
                        img(src="../../img/avisos/brk-india-2.webp", alt="Foto del Lic. Raymi Mejia en la india")
                        a(href="") Descargar PDF
                    article
                        img(src="../../img/avisos/boletin.webp", alt="foto de un boletin")
                        a(href="") Descargar PDF