footer.footer-container
    .footer-movil__container
        .footer-movil__logo
            picture
                //img(src="../../../img/assets/mla-white.webp" alt="Logo del 40 aniversario")
                
                    
            p.derechosAutor Mejia Lora & Asociados © 2024
            .redes1
                a(href="https://www.facebook.com/people/Mejia-Lora-Asociados/100040695713655/") 
                    img(src="/icon/317752_facebook_social media_social_icon.svg", alt="Logo de facebook")
                a(href="https://www.secure.instagram.com/mejialora/?hl=es") 
                    img(src="/icon/5279112_camera_instagram_social media_instagram logo_icon.svg", alt="Logo de instagram")
                a(href="https://www.linkedin.com/company/mejia-lora-&-asociados/") 
                    img(src="/icon/317750_linkedin_icon.svg", alt="Logo de Linkedin")
                //Posiblemente será eliminado
                a(href="https://twitter.com/MejialoraAsoc") 
                    img(src="/icon/317749_social media_tweet_twitter_social_icon.svg", alt="Logo de Twitter")
                 
        .contacto
            h3 Contact Us

            p Address: 
                span Avenida Sarasota # 136, Santo Domingo, República Dominicana.
            p Address: 
                span Calle Santa Ana #16, Santo Domingo, República Dominicana.
            p International Mailing Address: 
                span 8540 NW 66 st AP-54099 Miami, FL 33195-2698.
            p Phone Number: 
                span (809) 482-0838
            p Email: 
                span info@mejialora.com
        .redes
            a(href="https://www.facebook.com/people/Mejia-Lora-Asociados/100040695713655/") 
                img(src="/icon/317752_facebook_social media_social_icon.svg", alt="Logo de facebook")
            a(href="https://www.secure.instagram.com/mejialora/?hl=es") 
                img(src="/icon/5279112_camera_instagram_social media_instagram logo_icon.svg", alt="Logo de instagram")
            a(href="https://www.linkedin.com/company/mejia-lora-&-asociados/") 
                img(src="/icon/317750_linkedin_icon.svg", alt="Logo de Linkedin")
            //Posiblemente será eliminado
            a(href="https://twitter.com/MejialoraAsoc") 
                img(src="/icon/317749_social media_tweet_twitter_social_icon.svg", alt="Logo de Twitter")
            
        

script(type='text/javascript').
  var Tawk_API=Tawk_API||{};
  var Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5bcdc8e9460a125f2657111c/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();

<!--Slick-->
script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
script(type="text/javascript" src="/slick/slick.min.js")

block javaScript

