head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Firma de contadores públicos autorizados con más de 35 años de experiencia, ofreciendo servicios de auditoría, impuestos, consultoría administrativa y financiera, al igual que servicios de contabilidad y Desarrollo Organizacional.")
        //CSS
        link(rel="stylesheet", type="text/css" href="/css/main.css")
        link(rel="stylesheet", type="text/css" href="/css/tablet/tablet.css" media='(min-width: 768px)')
        link(rel="stylesheet", type="text/css" href="/css/desktop/desktop.css" media='(min-width: 1200px)')
        link(rel="stylesheet", href="/slick/slick.css")
        link(rel="stylesheet", href="/slick/slick-theme.css")
        //FUENTES
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        //API
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500&display=swap" rel="stylesheet">
        //ANIMATE
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        link(rel="shortcut icon", href="/icon/favicon.ico")
        title Mejía Lora & Asociados
