.RS__text-container{
    padding: 48px 20px 24px;
    margin-bottom: 16px;

    strong {
        font-size: 2rem;
        line-height: 2.8rem; 
    }

    .RS__main-text{
        font-size: 16px;
        margin-top: 16px;
        line-height: 2.4rem;
        margin-bottom: 20px;
    }

    .RS__externos {
        margin-bottom: 48px;

        h2{
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 16px;
        }
        article {
            line-height: 2.8rem;
            @include flexRule(null,null,flex-start);
            gap: 16px;
            
            img {
                @include wH(20px,20px);
                margin-top: 4px;
            }
        }

        picture {
            @include flexRule(column,center,center);
            
            img {
                @include wH(260px,260px);
            }
        }
    }
}

//TABLET
@media(min-width: $breakpoint-tablet){
    .RS__text-container{
        padding: 48px 32px 24px;
    
        .RS__main-text{
            font-size: 16px;
            margin-top: 16px;
            line-height: 2.4rem;
            margin-bottom: 20px;
        }

        .RS__externos {
            margin-bottom: 48px;

            picture {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 24px;
                margin-top: 24px;
                
                img {
                    @include wH(216px,216px);
                }
            }
        }
    }
}

//DESKTOP
@media(min-width: $breakpoint-desktop){
    .RS__text-container{
        padding: 48px 32px 24px;
        max-width: 1300px;
        margin: 0 auto;
    
        .RS__main-text{
            font-size: 16px;
            margin-top: 16px;
            line-height: 2.4rem;
            margin-bottom: 40px;
        }

        .RS__externos {
            margin-bottom: 48px;

            h2{
                text-align: center;
            }

            picture {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 4px;
                margin-top: 24px;
                margin-bottom: 24px;
                
                img {
                    @include wH(200px,200px);
                }
            }
        }
    }
}