extend ../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")



block contenido

        main.cert-container
            section.encabezado
                .encabezado__text-container
                    h2.animate__animated.animate__fadeInDownBig Certificaciones
                .backButton#btnBaja.animate__animated.animate__fadeInUp
                    a(href="#certificaciones")
            section.cert-container__principal.fade-in#certificaciones
                strong “Nuestra organización eleva su compromiso con la calidad contando con un Sistema de Gestión de Calidad Certificado por INTECO bajo la norma ISO 9001:2015, RE-019/2019”.
                p Mejia Lora y Asociados se ha convertido en la primera Firma de Auditoria en República Dominicana en obtener el certificado de INTECO bajo la norma ISO 9001:2015. En Mejia Lora y Asociados estamos comprometidos con la satisfacción plena de nuestros clientes y grupos de interés por ello actuamos con ética y transparencia garantizando la realización de los servicios de Auditoria, TPA (Tax-Payroll-Accounting / Impuestos-Nomina-Contabilidad), Consultoría, Impuesto y Desarrollo Organizacional, otros servicios de negocios de forma eficiente y oportuna, cumpliendo plenamente con las leyes, acuerdos, normas y regulaciones pertinentes y mejorando continuamente nuestros procesos.
                p Los socios de la Firma decidieron certificar el Sistema de Gestión de la Calidad como una herramienta estratégica para identificar riesgos y oportunidades, así como dirigir y controlar la organización sistemáticamente respecto a la calidad. Lo anterior, a través de la mejora continua en el  desempeño de sus procesos y llevando a cabo los conceptos fundamentales de la excelencia o buenas prácticas de gestión.
                p El proyecto fue llevado a cabo por el departamento de Desarrollo Organizacional y la Representante por la Dirección Firelli Mejia siendo este un servicio ofrecido por la Firma.
                p Para lograr la certificación, nuestra organización desarrolló un arduo programa de implementación de la norma, el cual conllevó grandes metas y retos alcanzados a través de programas de capacitación y entrenamientos, manejo del cambio en la cultura organizacional y otros, para garantizar la excelencia del Sistema de Gestión de la Calidad.
                picture.fade-in
                    img(src="../../img/Certificaciones/Logo-9001-IQNet-FIRMADO_Página_1-212x300.webp", alt="Normas ISO Página 1")
                    img(src="../../img/Certificaciones/Logo-9001-IQNet-FIRMADO_Página_2-212x300.webp", alt="Normas Iso Página 2")
                    img(src="../../img/Certificaciones/MLAISO2-300x199.webp", alt="Certificacion INTECO")
            
            section.cert-container__contacto.fade-in
                p Para obtener mas información y solicitar nuestros servicios
                a(href="../../html/contacto/contacto.html") Contáctenos ahora 