.main__servicios{
    @include wH(100%,auto);
    max-width: 1400px;
    padding: 120px 24px;
    @include flexRule(column,null,center);

    h2{
        width: 100%;
        font-size: 3.6rem;
        justify-self: flex-start;
        margin-bottom: 40px;
        margin-left: 80px;

        .linea{
            @include wH(160px,6px);
            background-color: $colorCuaternario;
            border-radius: 0 0 8px 0;
            @include boxShadowLite;
        }
    }

    .servicios__contenedor{
        @include flexRule(row,center,center);
        flex-wrap: wrap;
        @include wH(100%, 100%);
        gap: 32px;

        a{
            @include wH(375px,250px);
            color: $colorLetra2;
            text-decoration: none;
            @include boxShadow();
            border-radius: 8px;
            transition: all 600ms ease;

            .servicios__imagen{
                @include wH(375px,250px);
                border-radius: 8px;
            }

            .servicios__texto{
                @include wH(null,48px);
                position: relative;
                top: -52px;
                text-align: center;
                font-size: 2rem;
                border-radius: 0px 0px 8px 8px;
                background: rgba(4, 56, 119, 0.75);
                @include flexRule(null,center,center);
            }
            &:hover{
                transition: all 600ms ease;
                transform: scale(1.05);
                
                div{
                    background-color: $colorTerciario;
                }
            }
        }
        
    }
}