.mainStaffEspecializado{
    background-color: $colorPrincipal;
    padding: 60px 0;
    padding-bottom: 40px;
    height: auto;
    display: block;
    

    h2{
        font-size: 2.4rem;
        font-weight: 500;
        color: $colorTerciario;
        margin-bottom: 36px;
        text-align: center;
    }

    .staffEspecializado__container{
        @include flexRule(column,null,center);
        gap: 40px;
        
        .staffEspecializado__item{
            @include wH(243px, 249px);
            
            a{
                @include wH(243px, 249px);
                text-decoration: none;
                
                img{
                    @include wH(243px, 249px);
                    display: block;
                    object-fit: cover;
                    border-radius: 8px;
                }

                .datos{
                    width: 243px;
                    height: 56px;
                    background-color: rgba(4, 56, 119, 0.75);
                    position: relative;
                    bottom: 56px;
                    border-radius: 0 0 8px 8px;
                    color: $colorSecundario;
                    text-align: center;
                    @include flexRule(column, center, center);
                    p{
                        font-size: 1.8rem;
                        font-weight: 500;
                    }
    
                    .cargo{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}

@media(min-width: $breakpoint-tablet){
    .mainStaffEspecializado{
    
        .staffEspecializado__container{
            @include flexRule(row,center);
            flex-wrap: wrap;
            gap: 20px;
        }
    }
}

@media(min-width: $breakpoint-laptop){
    .mainStaffEspecializado{
        padding: 40px 0;
        height: 450px;
    
        h2{
            font-size: 3.2rem;
            margin-bottom: 60px;
        }
        .staffEspecializado__container{
            @include flexRule(row,center);
            gap: 30px;
            
            .staffEspecializado__item{
                width: 200px;
                height: 220px;
                transition: all 300ms ease;

                &:hover{
                    transform: scale(1.1);
                    transition: all 300ms ease;
                }
                
                a{
                    @include wH(200px, 220px);
                    text-decoration: none;
                    
                    img{
                        @include wH(200px, 220px);
                        display: block;
                        object-fit: cover;
                        border-radius: 8px;
                    }
                    .datos{
                        width: 200px;
                    }
                }
            }
        }
    }
}

@media(min-width: $breakpoint-desktop){
    .mainStaffEspecializado{
        padding: 40px 0;
        height: 450px;
    
        h2{
            font-size: 3.2rem;
            margin-bottom: 60px;
        }
        
        .staffEspecializado__container{
            @include flexRule(row,center);
            gap: 30px;
            
            .staffEspecializado__item{
                @include wH(243px, 249px);
                
                a{
                    @include wH(243px, 249px);
                    text-decoration: none;
                    
                    img{
                        @include wH(243px, 249px);
                        display: block;
                        object-fit: cover;
                        border-radius: 8px;
                    }

                    .datos{
                        width: 243px;
                    }
                }
            }
        }
    }
}