#btnBackToTop {
    position: fixed;
    bottom: 100px;
    right: 25px;
    background-color: $colorTerciario;
    color: $colorLetra2;
    @include wH(60px, 60px);
    @include flexRule(null,center,center);
    border-radius: 50%;
    cursor: pointer;
    z-index: 99;
    text-decoration: none;
    vertical-align: middle;
    padding-bottom: 8px;
}

#btnBackToTop span {
    font-size: 48px;
}

.main-container__carrusel{
      height: 100vh;
      @include flexRule(null,center,center);
      background: #d9d9d9;
      position: relative;
    
      .backButton{
        width: 70px;
        height: 32px;
        bottom: 0;
        position: absolute;
        background-color: $colorSecundario;
        z-index: 15;
        border-radius: 32px 32px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        a{
            width: 32px;
            height: 32px;
            background-image: url(/icon/172458_down_arrow_icon.svg);
            background-size: 24px;
            background-repeat: no-repeat;
            display: inline-block;
            background-position: center;
        }
      }

    .slider{
        position: relative;
        background: #000116;
        @include wH(100vw, 100vh);
        overflow: hidden;

        .slide{
            @include wH(100%, 100%);
            position: absolute;
            clip-path: circle(0% at 0 50%);
            display: flex;
            align-items: center;
            justify-content: center;

            .main-container__filtroAzul{
                height: 100vh;
                width: 100vw;
                @include flexRule(null,center,center);
                background: rgb(2,0,36);
                background: linear-gradient(7deg, rgba(2,0,36,1) 24%, rgba(4,56,119,1) 65%, rgba(7,88,186,1) 100%);
                opacity: 0.6;
                position: absolute;
                z-index: 10;
            }

            img{
                @include wH(100%, 100%);
                position: absolute;
                object-fit: cover;
            }
            
            .info{
                position: absolute;
                color: $colorLetra1;
                width: 70%;
                max-width: 70%;
                height: 50%;
                //margin-left: 100px;
                padding: 10px;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                z-index: 100;

                h2{
                    font-size: 5rem;
                    line-height: 56px;
                    font-weight: 800;
                    margin-bottom: 16px;
                    color: $colorLetra2;
                }
                
                p{
                    font-size: 1.5rem;
                    max-width: 514px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-bottom: 40px;
                    color: $colorLetra2;
                }

                a{
                    text-decoration: none;
                    width: 213px;
                    color: $colorLetra2;
                    height: 42px;
                    padding: 10px;
                    background-color: $colorTerciario;
                    font-size: 1.8rem;
                    transform: all 900ms ease;
                    text-align: center;
                    border-radius: 8px;
                    margin: 0;
                }
            }
        }

        .active{
            clip-path: circle(150% at 0 50%);
            transition: 1s;
        }
        

        .navigation{
            height: 90%;
            opacity: 0;
            transition: opacity 0.5s ease;
            @include flexRule(null,space-between,center);

            i{

                img{
                    width: 32px;
                    height: 32px;
                }
            }
        }
          
        &:active .navigation{
            opacity: 1;
        }
          
        .prev-btn, .next-btn{
            z-index: 15;
            color: $colorLetra1;
            background: rgba(255, 255, 255, 0.8);
            padding: 25px;
            cursor: pointer;
        }
          
        .prev-btn{
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
          
        .next-btn{
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
          
        .navigation-visibility{
            z-index: 90;
            @include flexRule(null,center,flex-end);
            

            .slide-icon{
                z-index: 90;
                background: rgba(255, 255, 255, 0.5);
                width: 20px;
                height: 10px;
                transform: translateY(0px);
                margin: 0 6px;
                border-radius: 2px;
                box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
            }

            .slide-icon.active{
                background: white;
            }
        }   
    }
}