extend ../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido
 
        main
           
            section.encabezado__auditoria
                picture
                    img(src="../../img/servicios/DO3.webp", alt="Foto de una Lupa analizando un documento")
                .encabezado__titular
                    h2 Auditor Informático

                p Únete a nuestro equipo de profesionales comprometidos y cuidadosamente seleccionados. Valoramos el crecimiento y estamos en constante búsqueda de nuevos talentos. Ofrecemos capacitación continua en áreas de interés y la oportuniad de trabajar con expertos en diversas materias. Buscamos personas apasionadas, responsables y con habilidades para el trabajo en equipo.

                p Si estás interesado, envíanos tu CV en PDF a través de nuestro formulario.
            
            section.vacante__info
                
                h2 Requerimientos: 
                ul 
                    li Conocimientos sólidos sobre técnicas y herramientas de ciberseguridad, gestión de riesgos, criptografía, protección de datos y continuidad de negocio.
                    li Comprensión de arquitecturas de sistemas, redes, aplicaciones y entornos de TI.
                    li Familiaridad cn marcos de referencia como ISO 27001, COBIT, NIST, PCI DSS, entre otros.
                    li Conocimientos sobre metodologías y herramientas específicas de auditoría de sistemas, como software de monitoreo, escaneo de vulnerabilidades y revisión de logs.
                    li Preferiblemente con conocimiento en manejo de Caseware Idea.
                    li Análisis de bases de datos.
                    li Evaluación de riesgos.
                    li Control interno.
                    li Redacción de informes.
                    li Trabajo en equipo.
                    li Presentación de resultados.
                
                h2 Experiencia requerida:
                ul 
                    li Certificaciones en: Ingeniería de software o áreas afines al puesto.
                    li 3 años de experiencia.
                
                h2 Habilidades requeridas:
                ul
                    li Facilidad de comunicación oral y escrita.
                    li Conocimientos de Microsoft Office.
                    li Redacción de informes.
                    li Normativas fiscales.
                    li Proceso de auditoría. 
                    li Preparación y análisis de Estados Financieros.

                h2 Competencias conductuales:
                ul
                    li Ética e integridad.
                    li Compromiso.
                    li Orientación al cliente.
                    li Calidad en el trabajo.
                    li Trabajo en equipo.
                
                button
                    a(href="../../html/capital-humano/formulario.html").button Aplicar aquí
                    
            section.servicios__contacto.fade-in
                p Para obtener mas información y solicitar nuestros servicios
                a(href="../../html/contacto/contacto.html") Contáctenos ahora