extend ../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido
 
        main
           
            section.encabezado__capital
                picture
                    img(src="../../img/servicios/DO3.webp", alt="Foto de una Lupa analizando un documento")
                .encabezado__titular
                    h2 Auditor Externo

                p Únete a nuestro equipo de profesionales comprometidos y cuidadosamente seleccionados. Valoramos el crecimiento y estamos en cponstante búsqueda de nuevos talentos. Ofrecemos capacitación continua en áreas de interés y la oportuniad de trabajar con expertos en diversas materias. Buscamos personas apasionadas, responsables y con hbailidades para el trabajo en equipo.

                p Si estás interesado, envíanos tu CV en PDF a través de nuestro formulario.
            
            section.auditor__info
                h1 Descripción 
                p Asegurar la ejecución de todas las fases de las auditorias y trabajos asignados según los programas y planificación establecidos, dando cumplimiento a normativas financieras, fiscales y de control interno, garantizando de esta manera la satisfacción del cliente en el servicio brindado.
                
                h2 Lo que harás: 
                ul 
                    li Revisar la planificación, el listado de requerimientos y programas de auditoría conjuntamente con el supervisor, para aclarar cualquier inquietud sobre el enfoque de los objetivos y el tiempo de ejecución.
                    li Elaborar analíticas de cada área, presentando los hallazgos de mayor relevancia y los procedimientos utilizados para llegar a los objetivos establecidos.
                    li Ejecutar análisis y pruebas de auditoria en base al programa establecido, apegados al cumplimiento de las políticas y procedimientos de la firma, las normas internacionales de información financiera, normas de auditoría, leyes fiscales y normativas de control interno.
                    li Realizar la toma física de inventario tomando como parámetros el programa de trabajo, la planeación de tiempo y la estimación de la materialidad elaborados por el supervisor.
                    li Generar el informe de la toma física de inventario realizada.
                    li Actualizar el archivo permanente del cliente de la auditoria.
                    li Completar el expediente, apegándose a los objetivos y procedimientos establecidos.
                    li Remitir reportes de progreso según indiquen las políticas establecidas, manteniendo una comunicación efectiva.
                    li Asignar las tareas al auxiliar de auditoría y dar seguimiento a su ejecución, revisando el análisis y procedimientos realizados por el auxiliar de auditoría.
                    li Completar el memo de observaciones de auditoria para su posterior discusión con el cliente por parte del gerente.
                    li Realizar observaciones que les sean asignadas respecto al expediente.
                    li Completar las evaluaciones del supervisor / gerente.
                    li Mantener buena comunicación interna (supervisor/gerente) / externa (clientes).
                    li Terminar los trabajos con la máxima calidad y en el tiempo establecido.
                    li Realizar otras tareas afines y complementarias al puesto y/o sean requeridas por el supervisor/ gerente y/o socio encargado.
                
                h2 Experiencia requerida:
                ul 
                    li Graduado de las áreas de: Contabilidad, Administración y/o áreas afines al puesto.
                    li 2 años de experiencia.
                
                h2 Habilidades requeridas:
                ul
                    li Facilidad de comunicación oral y escrita.
                    li Conocimiento del idioma inglés
                    li Conocimientos de Microsoft Office.
                    li Redacción de informes.
                    li Normas (NIAs, NICs y NIIFs).
                    li Normativas fiscales.
                    li Proceso de auditoría. 
                    li Preparación y análisis de Estados Financieros.

                h2 Competencias conductuales:
                ul
                    li Ética e integridad.
                    li Compromiso.
                    li Orientación al cliente.
                    li Calidad en el trabajo.
                    li Trabajo en equipo.
                
                button
                    a(href="../../html/capital-humano/formulario.html").button Aplicar aquí
                    
            section.auditoria__contacto.fade-in
                p Para obtener mas información y solicitar nuestros servicios
                a(href="../../html/contacto/contacto.html") Contáctenos ahora