extend ../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido
 
        main
            section.encabezado__capital
                picture
                    img(src="../../img/servicios/DO3.webp", alt="Foto de una Lupa analizando un documento")
                .encabezado__titular
                    h2 Consultor de Impuestos

                p Únete a nuestro equipo de profesionales comprometidos y cuidadosamente seleccionados. Valoramos el crecimiento y estamos en cponstante búsqueda de nuevos talentos. Ofrecemos capacitación continua en áreas de interés y la oportuniad de trabajar con expertos en diversas materias. Buscamos personas apasionadas, responsables y con hbailidades para el trabajo en equipo.

                p Si estás interesado, envíanos tu CV en PDF a través de nuestro formulario.
            
            section.auditor__info
                h1 Descripción 
                p Brindar los servicios de consultoría requeridos a los diferentes clientes asignados, con la finalidad de garantizar el cumplimiento de los requerimientos de nuestros clientes.
                
                h2 Lo que harás: 
                ul 
                    li Brindar soporte en la presentación y revisión de declaraciones mensuales y anuales de impuestos (IT1, IR17, IR3, IR2, IR1, DIOR , formatos de envíos de datos 606, 607, 608, 609).
                    li Realizar defensa ante notificaciones, procedimientos convenidos, revisiones fiscales específicas, solicitudes de procedimientos especiales ante DGII.
                    li Desarrollar procedimientos convenidos en base al programa que le sea proporcionado.
                    li Preparar las declaraciones de impuestos y rectificativas asignadas.
                    li Elaborar estados financieros en los expedientes que sean requeridos.
                    li Realizar revisiones mensuales o anuales y entregar informe de progreso y cierre de caso.
                    li Revisar que el trabajo realizado cumpla con los señalamientos del programa de trabajo y cuente con calidad y terminación adecuada previo someter a revisión de sus superiores.
                    li Velar porque los trabajos que le sean asignados cumplan con las previsiones de la legislación tributaria.
                    li Realizar escritos de defensa ante casos requeridos por los clientes.
                    li Elaborar los listados de requerimientos necesarios para el cumplimiento de los trabajos agendados.
                    li Elaborar los informes de Precios de Transferencia y reportes especiales bajo las directrices del Subgerente de la división.
                    li Recibir y atender llamadas y emails de los diferentes clientes de la empresa con la finalidad de brindarles las respuestas a sus consultas sobre los trabajos relativos a declaraciones y cierres fiscales, bajo coordinación con su superior.
                    li Comparecer ante la Dirección General de Impuesto Internos (DGII), para dar seguimiento a los de casos fiscales en general.
                    li Realizar la declaración de impuestos que sean requeridas como parte de los servicios brindados en el departamento.
                    li Asegurar el cumplimiento de sus asignaciones en el tiempo acordado en las propuestas y agendas.
                    li Realizar el reporte de horas invertidas semanalmente en los diferentes servicios que le fueron asignados.
                    li Apegarse al cumplimiento de los controles internos dispuestos en la empresa.
                    li Realizar otras tareas afines y relacionadas al puesto y/o requeridas por su supervisor.
                
                h2 Experiencia requerida:
                ul 
                    li Graduado de las áreas de: Contabilidad, Administración y/o áreas afines al puesto.
                    li 2 años de experiencia.
                
                h2 Habilidades requeridas:
                ul
                    li Facilidad de comunicación oral y escrita.
                    li Conocimiento del idioma inglés
                    li Conocimientos de Microsoft Office.
                    li Redacción de informes.
                    li Normas (NIAs, NICs y NIIFs).
                    li Normativas fiscales.
                    li Proceso de auditoría. 
                    li Preparación y análisis de Estados Financieros.

                h2 Competencias conductuales:
                ul
                    li Ética e integridad.
                    li Compromiso.
                    li Orientación al cliente.
                    li Calidad en el trabajo.
                    li Trabajo en equipo.
                
                button
                    a(href="../../html/capital-humano/formulario.html").button Aplicar aquí
                    
            section.auditoria__contacto.fade-in
                p Para obtener mas información y solicitar nuestros servicios
                a(href="../../html/contacto/contacto.html") Contáctenos ahora