extend ../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido
 
        main
            section.encabezado__capital
                picture
                    img(src="../../img/servicios/DO3.webp", alt="Foto de una Lupa analizando un documento")
                .encabezado__titular
                    h2 Contador

                p Únete a nuestro equipo de profesionales comprometidos y cuidadosamente seleccionados. Valoramos el crecimiento y estamos en cponstante búsqueda de nuevos talentos. Ofrecemos capacitación continua en áreas de interés y la oportuniad de trabajar con expertos en diversas materias. Buscamos personas apasionadas, responsables y con hbailidades para el trabajo en equipo.

                p Si estás interesado, envíanos tu CV en PDF a través de nuestro formulario.
            
            section.auditor__info 
                h1 Descripción 
                p Realizar los registros contables de las operaciones financieras de los clientes asignados para dar cumplimiento a todas las obligaciones fiscales oportunamente y presentar los estados financieros al cierre del año fiscal.
                
                h2 Lo que harás: 
                ul 
                    li Efectuar los diferentes procesos contables en el sistema QuickBook de los clientes asignados, tales como: registros de cheques, depósitos, cuentas por cobrar y cuentas por pagar, facturas, notas de créditos, realizar conciliaciones bancarias, cálculos y presentaciones de impuestos, revisar la nómina incluyendo actualizaciones de salarios y/o entrada y salida de colaboradores.
                    li Organizar la documentación de los clientes asignados en una carpeta virtual.
                    li Evaluar cálculo de impuestos, presentación de impuestos, realizar análisis fiscales y emitir un informe con las situaciones a corregir.
                    li Realizar los cierres fiscales de los clientes asignados en la empresa, verificando el análisis del comportamiento de las cuentas del año completo y preparar estados financieros, informes de cierre y declaración jurada.
                    li Brindar soporte sobre consulta de clientes vía correo electrónico o vía telefónica dando respuestas a los requerimientos de nuestros clientes.
                    li Imprimir y archivar las conciliaciones bancarias debidamente soportadas, luego de ser aprobadas por el supervisor y/o gerente de TPA.
                    li Remitir información al Gerente y/o supervisor (a) para luego ser remitidos a los socios para su aprobación y enviarlo los clientes.
                    li Realizar las correcciones emitidas por el supervisor, en los servicios ofrecidos a cada cliente.
                    li Conciliar saldo de los servicios ofrecidos a los clientes con el Departamento de Contabilidad de la Firma.
                    li Brindar soporte a los demás auxiliares de su equipo referente a la validación de información o soporte en caso requerido.
                    li Archivar todos los reportes contables generados mensualmente de las empresas trabajadas.
                    li Completar y remitir el control de hora.
                    li Realizar otras tareas afines y complementarias al puesto y que sean requeridas por su Supervisor.
                
                h2 Experiencia requerida:
                ul 
                    li Graduado de las áreas de: Contabilidad, o áreas afines al puesto.
                    li 2 años de experiencia.
                
                h2 Habilidades requeridas:
                ul
                    li Facilidad de comunicación oral y escrita.
                    li Conocimiento del idioma inglés
                    li Conocimientos de Microsoft Office.
                    li Redacción de informes.
                    li Normas (NIAs, NICs y NIIFs).
                    li Normativas fiscales.
                    li Proceso de auditoría. 
                    li Preparación y análisis de Estados Financieros.

                h2 Competencias conductuales:
                ul
                    li Ética e integridad.
                    li Compromiso.
                    li Orientación al cliente.
                    li Calidad en el trabajo.
                    li Trabajo en equipo.
                
                button
                    a(href="../../html/capital-humano/formulario.html").button Aplicar aquí
                    
            section.auditoria__contacto.fade-in
                p Para obtener mas información y solicitar nuestros servicios
                a(href="../../html/contacto/contacto.html") Contáctenos ahora