.auditor__enfoque{

    picture {
        width: 320px;
        
        img {
            width: 100%;
        }
    }

    article {
        padding: 40px 28px;
        height: auto;
        
        h2{
            font-size: 2.4rem;
            font-weight: 400;
            margin-bottom: 24px;
        }

        ul{
            @include flexRule(column);
            gap: 16px;
            
            li{
                list-style: none;
                
                a{
                    text-decoration: none;
                    color: $colorTerciario;
                }
            }
        }
    }
}

.auditor__info{
    height: auto;
    padding: 40px 28px;
    width: 100%;
    //margin-top: 100px;

    h1{
        font-size: 3.2rem;
        margin-bottom: 20px;
    }

    h2{
        font-size: 2rem;
        color: $colorTerciario;
        margin-bottom: 16px;
    }
   
    p{
        margin-bottom: 20px;
    }
    
    ul{
        margin-bottom: 20px;
        
        li{
            margin-left: 20px;
            margin-bottom: 8px;
        }
    }

    button{
        @include wH(80%,40px);
        background-color: $colorTerciario;
        border: none;
        border-radius: 8px;
        
        a{
            font-size: 2rem;
            color: $colorLetra2;
            text-decoration: none;
        }
    }
}

@media(min-width: $breakpoint-tablet){  
    .auditor__enfoque{
        
        article{
            padding: 40px 28px;
            height: 300px;
            
            h2{
                font-size: 2.4rem;
                font-weight: 400;
                margin-bottom: 24px;
            }
            
            ul{
                @include flexRule(column);
                gap: 16px;
                
                li{
                    list-style: none;
                    
                    a{
                        text-decoration: none;
                        color: $colorTerciario;
                    }
                }
            }
        }
    }
    .auditor__info{
        height: auto;
        padding: 40px 28px;
        //margin-top: 100px;
    
        h1{
            font-size: 3.2rem;
            margin-bottom: 40px;
        }
    
        h2{
            font-size: 2rem;
            color: $colorTerciario;
            margin-bottom: 16px;
        }

        p{
            margin-bottom: 20px;
        }

        ul{
            margin-bottom: 40px;
            
            li{
                margin-left: 20px;
                margin-bottom: 8px;
            }
        }

        button{
            width: 40%;
        }
    }
}




@media(min-width: $breakpoint-laptop){
    .auditor__enfoque{
        display: flex;
        
        picture {
            width: 50%;
            
            img {
                @include wH(100%,100%);
            }
        }

        article{
            @include wH(50%,600px);
            padding: 40px 40px;
            @include flexRule(column,center);
            gap: 12px;
            
            h2{
                font-size: 3rem;
                font-weight: 400;
                margin-bottom: 24px;
            }
            
            p{
                font-size: 1.6rem;
            }
        }
    }

    .auditor__info{
        height: auto;
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px 28px;
    
        h1{
            font-size: 3.2rem;
            margin-bottom: 40px;
        }
    
        h2{
            font-size: 2rem;
            color: $colorTerciario;
            margin-bottom: 16px;
        }
        
        p{
            margin-bottom: 20px;
        }
        
        ul{
            margin-bottom: 40px;
            
            li{
                margin-left: 20px;
                margin-bottom: 8px;
            }
        }
        
        button{
            width: 20%;
    
            &:active{
                background-color: $colorCuaternario;
            }

            &:hover{
                cursor: pointer;
            }
        }
    }
}