.encabezado__capital {
    background-color: $colorPrincipal;
    padding-bottom: 30px;
    
    img{
        @include wH(100%,280px);
    }

    .encabezado__titular{
        @include wH(218px,36px);
        background-color: $colorTerciario;
        margin: 0 auto;
        border: 3px solid $colorSecundario;
        border-radius: 8px;
        @include flexRule(null,center,center);
        @include boxShadow();
        position: relative;
        top: -24px;
        
        h2{
            font-size: 1.6rem;
            color: $colorLetra2;
        }
    }
    p{
        padding: 10px 20px;
        font-size: 1.6rem;
        line-height: 2.8rem;

        a{
            margin-left: 8px;
            text-decoration: none;
            color: $colorCuaternario;
        }
    }
}

@media(min-width: $breakpoint-tablet){
    .encabezado__capital{
        
        picture{

            img{
                height: 300px;
                object-fit: cover;
            }
        }

        .encabezado__titular{
            @include wH(320px,40px);

            h2{
                font-size: 2rem;
            }
        }

        p{
            padding: 10px 40px;
        }
    }
}

@media(min-width: $breakpoint-laptop){
    .encabezado__capital{
        picture{

            img{
                height: 400px;
            }
        }

        .encabezado__titular{
            @include wH(320px,40px);

            h2{
                font-size: 2rem;
            }
        }

        p{
            padding: 10px 40px;
            font-size: 2rem;
        }
    }
}

@media(min-width: $breakpoint-desktop){
    .encabezado__capital{
        picture{
            @include wH(100%, 500px);
            display: block;
            
            img{
                @include wH(100vw,100%);
                display: block;
            }
        }
        .encabezado__titular{
            @include wH(400px,48px);

            h2{
                font-size: 2.4rem;
            }
        }
        
        p{
            max-width: 1200px;
            margin: 0 auto;
            padding: 10px 0;
            font-size: 2rem;
        }
    }
}