extend ../../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/06septiembre.webp", alt="Background de la noticia")
                    h2 Distribution of school supplies to children in the Villa Mella community
            
            section.publicacion__content
                p September 6, 2024

                div
                    p We continue creating smiles and making an impact!
                    p Last Friday, together with @Fundacioncolabora.rd and our collaborators, we shared an unforgettable afternoon with the children of the Villa Mella community, distributing school bags. We are proud to be part of their preparation for the new school year, contributing our small part to a brighter future.


            section.publicacion__otras
                h2 Other News

                +noticiaPrincipalEn