extend ../../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/09julio.webp", alt="Background de la noticia")
                    h2 Celebrating 80 Years of Excellence!

            
            section.publicacion__content
                p July 09, 2024
                
                div
                    p On the anniversary of ICPARD, our executives from Mejía Lora & Asociados joined in the commemoration of this great journey. We are honored to be part of this celebration and are committed to continuing to contribute to the growth of the sector.


                    

            section.publicacion__otras
                h2 Other News

                +noticiaPrincipalEn