extend ../../../../componentes/_plantillaEn.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/licenciadoRaymi.webp", alt="Background de la noticia")
                    h2 PRESENTATION OF RESULTS OF THE MINISTRY OF TOURISM 2023
            
            section.publicacion__content
                p January 13, 2024
                
                div
                    p Honored to be part of the presentation of the Ministry of Tourism 2023 results, where we shared the stage with prominent leaders such as Roberto Chapur from Aloft Santo Domingo and Hard Rock Hotels, René Grullo VP of Grupo Financiero Popular, Monika Infante from Aerodom, and Juan Manuel Martin de Oliva VP of Banco Popular Dominicano.
            
            section.publicacion__otras
                h2 Other news

                +noticiaPrincipalEn