extend ../../../../componentes/_plantillaEn.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/13mayo.webp", alt="Background de la noticia")
                    h2 DOMINICAN ANNUAL TOURISM EXCHANGE 2024
            
            section.publicacion__content
                p May 13, 2024
                
                div
                    p DATE 2024 in its twenty-fourth edition. MLA is present at the most outstanding event in terms of tourism promotion in the Caribbean area.

                    p Attorney Raymi Mejía accompanied by Attorney Tamayo Hernández, participating in this great tourism fair.

            
            section.publicacion__otras
                h2 Other news

                +noticiaPrincipalEn