extend ../../../../componentes/_plantillaEn.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/15mayo.webp", alt="Background de la noticia")
                    h2 Implementation of the PLAFT Law in the insurance and banking sector, its impact, and recent regulations.
            
            section.publicacion__content
                p May 15, 2024
                
                div
                    p Don't miss this virtual panel on the Implementation of the PLAFT Law and its impact on the sector. Join us on Wednesday, May 15, from 8:15 PM to 9:15 PM via Zoom, featuring José Depoolt, Elaine Días, Francisco González, and Nancy Salgado, with Licenciado Mauricio Rodríguez as the moderator.
                    

            
            section.publicacion__otras
                h2 Otras Noticias

                +noticiaPrincipalEn