extend ../../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/16julio.webp", alt="Background de la noticia")
                    h2 Sustainable Development Goals Workshop
            
            section.publicacion__content
                p July 16, 2024
                
                div
                    p Firelli Mejía Ortega, Partner at MLA, actively participated last Thursday in the workshop on Sustainable Development Goals organized by the Education and Sustainability Committee of AmChamDR.

                    p Prominent leaders shared their knowledge and experiences, including Pilar Hache, Director of Sustainability at Claro RD, Luis José Lopez, President of the Sustainability Committee of AmChamRD, Josefina Navarro, Senior Vice President of Corporate Communications and Social Responsibility at Banco BHD, Rosa Rijo, Director of Sustainability at Asociación Popular de Ahorros y Préstamos, and Juan Amell, Director of Communications and Sustainability at Bepensa Dominicana.


                    

            section.publicacion__otras
                h2 Other News

                +noticiaPrincipalEn