extend ../../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/16julio2.webp", alt="Background de la noticia")
                    h2 Energy of the Future: Innovation and Sustainability
            
            section.publicacion__content
                p July 16, 2024
                
                div
                    p We are pleased to announce that Ms. Sayka Mejía, Partner, Mauricio Rodriguez, Business Consulting Manager, Ana Rocha, Accounting Manager, María Ledezma, Accountant, Yohanna Herrera, Tax Supervisor, Indira Jiménez, Audit Manager, Ana Gozález, Tax Manager, and Lisandro González, Tax Manager, attended the event "Energy of the Future: Innovation and Sustainability" organized by AmChamDR today.

                    p During this meeting, the use of advanced technologies to increase the penetration of renewable energies was promoted, underscoring our commitment to innovation and sustainability. We reaffirm our commitment to sustainable development and the adoption of responsible energy practices.


                    

            section.publicacion__otras
                h2 Other News

                +noticiaPrincipalEn