extend ../../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/17julio.webp", alt="Background de la noticia")
                    h2 Do You Know What Minor Expense Vouchers (b13 e-43) Are?
            
            section.publicacion__content
                p July 17, 2024
                
                div
                    p At Mejía Lora & Asociados, we understand the importance of maintaining accurate and organized accounting. Minor Expense Vouchers (b13 e-43) are documents that facilitate the recording of small business expenses, ensuring proper financial control. These vouchers are essential for documenting everyday expenses that do not exceed a specific amount, allowing for more efficient and transparent management of company resources.

                    p Keep your accounting up-to-date and avoid future problems! For more information, contact us.


            section.publicacion__otras
                h2 Other News

                +noticiaPrincipalEn