extend ../../../../componentes/_plantillaEn.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/20feb.webp", alt="Background de la noticia")
                    h2 SWEARING-IN WOMEN OF IFA NETWORK (WIN) INTERNATIONAL FISCAL ASSOCIATION (IFA)

            section.publicacion__content
                p February 19, 2024
                
                div
                    p Attorney Sayka Mejía at the Swearing-in Ceremony of Women of IFA Network (WIN) / International Fiscal Association (IFA), appointed as WIN-RD representative and part of the Board of Directors of the Tax Association of the Dominican Republic (ATRIRD) for the 2024-2026 term, and Attorney Nallil Rodríguez, Audit Manager of MLA appointed as First WIN-RD Delegate. This event took place at the JW Marriott Hotel.

                    p Women of IFA Network (WIN), the Women's Network of IFA, represents and connects the many professional women working in international taxation. IFA strives to be representative of a dynamic international tax community and encourages women's participation in the Association's structures and procedures.


            
            section.publicacion__otras
                h2 Other news

                +noticiaPrincipalEn
