extend ../../../../componentes/_plantillaEn.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/21mayo.webp", alt="Background de la noticia")
                    h2 Mr. Raymi Mejía will participate in two key international events of BKR International.
            
            section.publicacion__content
                p May 21, 2024
                
                div
                    p We are pleased to announce the participation of Raymi Mejía, partner of MLA, in the BKR International Americas Regional Meeting to be held in Atlanta, Georgia, USA. And in the EMEA Regional Annual Conference to be held in Milan, Italy, with Mr. Raymi participating as a member of the BKR International World Board.

                    p Both meetings will feature the participation of members of the BKR International World Board.

                    

            section.publicacion__otras
                h2 Other News

                +noticiaPrincipalEn