extend ../../../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.publicacion__hero
                div
                    .filtro__azul
                    img(src="/img/avisos/23julio.webp", alt="Background de la noticia")
                    h2 XIV Tax Congress
            
            section.publicacion__content
                p July 23, 2024
                
                div
                    p Sayka Mejía, Partner at MLA and representative in the country for WIN - Women of IFA Network, participated as a distinguished member of the main panel during the XIV Tax Congress. She accompanied the Board of ATRIRD, ILATD in the Dominican Republic, IFA-RD, and distinguished speakers, including the Director General of Internal Taxes (DGII) of the Dominican Republic, Luis Valdez, DGII's Legal Deputy Director, Yorlin Vásquez, and economist Miguel Collado from CREES.



            section.publicacion__otras
                h2 Other News

                +noticiaPrincipalEn