.main-container__capital-humano {
    width: 100%;
    height: 400px;
    background-image: /*linear-gradient(rgba(4,56,119,0.7)),*/ url(../img/assets/bg-section.webp);
    background-repeat: no-repeat;
    top: -100px;
    background-position: center;
    background-size: cover;
    color: $colorLetra2;
    display: flex;
    justify-content: center;
    .oculto{
        display: none;
        transition: opacity 0.5s ease-in-out;
    }
    
    .capital-humano__container {
        //width: 90%;
        padding: 40px 24px;
        text-align: center;
        margin-bottom: 20px;
        @include flexRule(column,null,center);

        .ocultoActivo{
            @include wH(40px, 40px);
            background: none;
            border: none;
            background-image: url(../../../icon/flecha-blanca.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 40px;

            &:hover{
                cursor: pointer;
            }
        }

        .ocultoActivo2{
            @include wH(40px, 40px);
            background: none;
            border: none;
            background-image: url(../../../icon/flecha-arriba-b.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 40px;

            &:hover{
                cursor: pointer;
            }
        }
        
        h2 {
            font-size: 3rem;
            font-weight: 200;
            margin-bottom: 8px;
        }

        p {
            font-size: 1.4rem;
            font-weight: 200;
            margin-bottom: 100px;
            line-height: 2.2rem;
        }

        //MIXIN ITEMS DE CAPITAL HUMANO
        /**.capital-humano__item {
            margin-bottom: 24px;
            
            img {
                @include wH(160px, 240px);
                border-radius: 4px;
                @include boxShadow();
                margin-bottom: 12px;
            }

            h2 {
                font-size: 1.8rem;
                font-weight: 300;
                margin-bottom: 0;
            }

            p {
                font-size: 1.3rem;
                font-weight: 300;
                margin: 0;
            }
        }**/
        
        //BOTON DE CAPITAL HUMANO
        a {
            @include wH(164px, 40px);
            background-color: $colorSecundario;
            text-decoration: none;
            color: $colorLetra1;
            font-weight: 700;
            border-radius: 4px;
            font-size: 2rem;
            @include flexRule(null,center,center);
        }
    }
}

//TABLET
@media(min-width: $breakpoint-tablet){
    .main-container__capital-humano {
    

        .capital-humano__container{
            
            .oculto{
                display: none;
            }
            h2{
                font-size: 3rem;
            }
            p {
                margin-bottom: 48px;
                font-size: 1.6rem;
            }

            //Separacion de los contenedores y distribucion wrap añadida
            .capital-humano__socios{
                max-width: 690px;
                @include flexRule(null,center);
                flex-wrap: wrap;
                gap: 60px;
                

                .capital-humano__item {
                    margin-bottom: 0;                
                }
            }
            
            //Boton de la sección agrandado para mejor visibilidad en tablet
            a {
                @include wH(200px, 50px);
                font-size: 1.6rem;
                margin-top: 48px;
            }
        }
    }
}

//LAPTOP
@media(min-width: $breakpoint-laptop){
    .main-container__capital-humano {
        height: 600px;

        .capital-humano__container{
            .oculto{
                display: none;
                opacity: 0;
                transition: opacity 0.5s ease;
            }

            h2{
                font-size: 4rem;
                margin-bottom: 16px;
                font-weight: 300;
            }
            
            p{
                margin-bottom: 280px;
                font-size: 2rem;
            }

            .ocultoActivo{
                @include wH(40px, 40px);
                margin-bottom: 40px;
                transition: all 300ms ease;

                &:hover{
                    cursor: pointer;
                }

                &:active{
                    transform: scale(0.9);
                    transition: transform 300ms ease;
                }
            }

            //MIXIN SOCIOS | Puesto en horizontal y con espaciado.
            /**.capital-humano__socios {
                max-width: 1200px;
                gap: 32px;
                flex-wrap: nowrap;
                margin-bottom: 40px;
                opacity: 0;
                transform: scale(0.8);
                transition: opacity 0.5s ease, transform 0.5s ease;
                animation: fadeInDown;
                animation-duration: 1s;
        
                &.mostrar {
                    opacity: 1;
                    transform: scale(1);
                    transition-delay: 1s;
                }
        
                .capital-humano__item {
                    transition: all 300ms ease;
        
                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }**/

            //BOTON AL FINAL DE LA SECCION | Tamaño aumentado un poco.
            a{
                @include wH(180px, 50px);
                font-size: 1.6rem;
                transition: all 300ms ease;

                &:hover{
                    background-color: $colorCuaternario;
                    font-weight: bold;
                    color: $colorLetra2;
                    transform: scale(1.07);
                }
            }
        }

    }
}

//DESKTOP
@media(min-width: $breakpoint-desktop){
    //version de laptop le queda bien. Aun así, dejo este bloque para futuros cambios.
}