extend ../../../componentes/_plantillaEn.pug

block javaScript
    script(src="../../../subscript.js")

block contenido
 
        main
            
            section.encabezado__auditoria
                picture
                    img(src="../../../img/servicios/DO3.webp", alt="Foto de una Lupa analizando un documento")
                .encabezado__titular
                    h2 External Auditor
                
                p Join our team of carefully selected and committed professionals. We value growth and are constantly looking for new talent. We offer continuous training in areas of interest and the opportunity to work with experts in various fields. We are looking for passionate, responsible people with skills for teamwork.
                p If you are interested, send us your CV in PDF through our form. 
            
            section.vacante__info
                h1 Description
                p Ensure the execution of all phases of audits and assigned work according to the established programs and planning, complying with financial, fiscal and internal control regulations, thus guaranteeing customer satisfaction in the service provided.
                
                h2 What you will do: 
                ul 
                    li Review the planning, requirements list, and audit programs together with the supervisor to clarify any concerns regarding the approach to objectives and the execution timeline.
                    li Prepare analytics for each area, presenting the most relevant findings and the procedures used to achieve the established objectives.
                    li Conduct audits and audit tests based on the established program, adhering to the compliance of the firm's policies and procedures, international financial reporting standards, auditing standards, tax laws, and internal control regulations.
                    li Perform the physical inventory count, taking into account the work program, time planning, and materiality estimation prepared by the supervisor.
                    li Generate the report for the physical inventory count conducted.
                    li Update the permanent client file for the audit.
                    li Complete the file, adhering to the established objectives and procedures.
                    li Submit progress reports as dictated by established policies, maintaining effective communication.
                    li Assign tasks to the audit assistant and follow up on their execution, reviewing the analysis and procedures carried out by the audit assistant.
                    li Complete the audit findings memo for later discussion with the client by the manager.
                    li Make observations assigned to you regarding the file.
                    li Complete the evaluations from the supervisor/manager.
                    li Maintain good internal (supervisor/manager) and external (clients) communication.
                    li Finish the work with the highest quality and within the established timeframe.
                    li Perform other related and complementary tasks required by the supervisor/manager and/or responsible partner.
                
                h2 Experience required:
                ul 
                    li Graduate from the fields of Accounting, Administration, or related areas to the position.
                    li 2 years of experience.
                
                h2 Required skills:
                ul
                    li Fluency in oral and written communication.
                    li Knowledge of the English language.
                    li Knowledge of Microsoft Office.
                    li Report writing skills.
                    li Knowledge of International Standards on Auditing (ISAs), International Accounting Standards (IAS/IFRS).
                    li Tax regulations knowledge.
                    li Auditing process understanding. 
                    li Preparation and analysis of Financial Statements.

                h2 Behavioral competencies:
                ul
                    li Ethics and integrity.
                    li Commitment.
                    li Customer orientation.
                    li Quality in work.
                    li Teamwork.
                
                button
                    a(href="/html/capital-humano/formulario.html").button Apply here
                    
            section.servicios__contacto.fade-in
                p For more information and request our services
                a(href="../../html/contacto/contacto.html") Contact us now