extend ../../../componentes/_plantillaEn.pug

block javaScript
    script(src="../../../subscript.js")

block contenido
 
        main
            section.encabezado__capital
                picture
                    img(src="../../../img/servicios/DO3.webp", alt="Foto de una Lupa analizando un documento")
                .encabezado__titular
                    h2 Tax Consultant
                
                p Join our team of carefully selected and committed professionals. We value growth and are constantly looking for new talent. We offer continuous training in areas of interest and the opportunity to work with experts in various fields. We are looking for passionate, responsible people with skills for teamwork.
                p If you are interested, send us your CV in PDF through our form. 
            
            section.auditor__info
                h1 Description
                p Provide the required consulting services to the assigned clients to ensure compliance with our clients' requirements.
                
                h2 What you will do:
                ul 
                    li Provide support in the preparation and review of monthly and annual tax declarations (IT1, IR17, IR3, IR2, IR1, DIOR, data submission forms 606, 607, 608, 609).
                    li Defend against notifications, agreed procedures, specific tax reviews, and requests for special procedures before the DGII.
                    li Develop agreed-upon procedures based on the provided program.
                    li Prepare the assigned tax declarations and amendments.
                    li Prepare financial statements in the required files.
                    li Perform monthly or annual reviews and provide progress reports and case closure reports.
                    li Review that the work performed complies with the work program's instructions and meets the required quality and completion standards before submitting it for review by superiors.
                    li Ensure that the assigned tasks comply with the provisions of tax legislation.
                    li Prepare defense documents for cases requested by clients.
                    li Prepare the lists of requirements necessary for the completion of scheduled tasks.
                    li Prepare Transfer Pricing reports and special reports under the guidance of the Division's Assistant Manager.
                    li Receive and handle calls and emails from various clients of the company in order to provide them with answers to their inquiries regarding tax declarations and closures, under the coordination of your superior.
                    li Appear before the General Directorate of Internal Revenue (DGII) to follow up on tax cases in general.
                    li Prepare the tax declarations required as part of the services provided in the department.
                    li Ensure the completion of your assignments within the agreed-upon timeframes in the proposals and schedules.
                    li Submit a report of hours worked weekly for the various services assigned to you.
                    li Adhere to compliance with the internal controls established within the company.
                    li Perform other related and job-specific tasks as required by your supervisor.
                
                h2 Experience required:
                ul 
                    li Graduate from the fields of Accounting, Administration, or related areas to the position.
                    li 2 years of experience.
                
                h2 Required skills:
                ul
                    li Fluency in oral and written communication.
                    li Knowledge of the English language.
                    li Knowledge of Microsoft Office.
                    li Report writing skills.
                    li Knowledge of International Standards on Auditing (ISAs), International Accounting Standards (IAS/IFRS).
                    li Tax regulations knowledge.
                    li Auditing process understanding. 
                    li Preparation and analysis of Financial Statements.

                h2 Behavioral competencies:
                ul
                    li Ethics and integrity.
                    li Commitment.
                    li Customer orientation.
                    li Quality in work.
                    li Teamwork.
                
                button
                    a(href="../../html/capital-humano/formulario.html").button Apply here
                    
            section.auditoria__contacto.fade-in
                p For more information and request our services
                a(href="../../html/contacto/contacto.html") Contact us now