extend ../../../componentes/_plantillaEn.pug

block javaScript
    script(src="../../../subscript.js")

block contenido
 
        main
            section.encabezado__capital
                picture
                    img(src="../../../img/servicios/DO3.webp", alt="Foto de una Lupa analizando un documento")
                .encabezado__titular
                    h2 Accountant
                
                p Join our team of carefully selected and committed professionals. We value growth and are constantly looking for new talent. We offer continuous training in areas of interest and the opportunity to work with experts in various fields. We are looking for passionate, responsible people with skills for teamwork.
                p If you are interested, send us your CV in PDF through our form. 
            
            section.auditor__info 
                h1 Description
                p Record the financial transactions of assigned clients to ensure compliance with all tax obligations promptly and to prepare financial statements at the end of the fiscal year.
                
                h2 What you will do:
                ul 
                    li Perform various accounting processes in the QuickBooks system for assigned clients, including check and deposit records, accounts receivable and accounts payable, invoices, credit notes, bank reconciliations, tax calculations and filings, and review payroll, including salary updates and employee entry and exit.
                    li Organize the documentation of assigned clients in a virtual folder.
                    li Evaluate tax calculations, tax filing, perform tax analysis, and issue a report with corrections to be made.
                    li Perform fiscal year-end closings for assigned clients in the company, verifying the analysis of the accounts for the entire year and preparing financial statements, closing reports, and tax declarations.
                    li Provide support for client inquiries via email or phone, offering responses to our clients' requests.
                    li Print and file properly supported bank reconciliations after they have been approved by the TPA supervisor and/or manager.
                    li Submit information to the Manager and/or Supervisor for further review by the partners for approval and then send it to the clients.
                    li Make corrections as directed by the supervisor in the services provided to each client.
                    li Reconcile the balance of services provided to clients with the Accounting Department of the Firm.
                    li Provide support to other assistants on your team regarding information validation or assistance as needed.
                    li File all monthly generated financial reports of the companies worked on.
                    li Complete and submit the time tracking log.
                    li Perform other related and complementary tasks as required by your Supervisor.
                
                h2 Experience required:
                ul 
                    li Graduate from the fields of Accounting or related areas to the position.
                    li 2 years of experience.
                
                h2 Required skills:
                ul
                    li Fluency in oral and written communication.
                    li Knowledge of the English language.
                    li Knowledge of Microsoft Office.
                    li Report writing skills.
                    li Knowledge of International Standards on Auditing (ISAs), International Accounting Standards (IAS/IFRS).
                    li Tax regulations knowledge.
                    li Auditing process understanding. 
                    li Preparation and analysis of Financial Statements.

                h2 Behavioral competencies:
                ul
                    li Ethics and integrity.
                    li Commitment.
                    li Customer orientation.
                    li Quality in work.
                    li Teamwork.
                
                button
                    a(href="../../html/capital-humano/formulario.html").button Apply here
                    
            section.auditoria__contacto.fade-in
                p For more information and request our services
                a(href="../../html/contacto/contacto.html") Contact us now