extend ../../../componentes/_plantillaEn.pug

block javaScript
    script(src="../../../subscript.js")

block contenido
 
        main
                
            
            section.formulario-empleo
                form(action="https://formsubmit.co/reclutamiento@mejialora.com" method="POST").formulario
                    div
                        label(for="nombre")
                            p Name and last name
                            input(type="text" id="nombre" placeholder="Full name" name="nombre" required)
                    div.doble
                        label(for="correo")
                            p Email address 
                            input(type="email" id="correo" placeholder="youremail@email.com" name="correo")

                        label(for="telefono")
                            p Phone number
                            input(type="number" id="Phone number" name="telefono")
                    
                    div 
                        label(for="Posicion")
                            p Position you wish to apply for
                            select(name="Posicion" id="posicion")
                                option External Auditor
                                option Tax Consultant
                                option Accountant

                    div.doble
                        label(for="habilidades")
                            p Skills
                            textarea(name="habilidades", cols="30", rows="10" id="habilidades") 

                        label(for="motivacion")
                            p Motivation
                            textarea(name="motivacion", cols="30", rows="10" id="motivacion")
                    
                    div
                        label(for="experiencia")
                            p Experience
                            textarea(name="experiencia", cols="30", rows="10" id="experiencia")
                    
                    div
                        p Attach CV (In PDF format - maximum size 5mb)
                        input(type="file" value="select File" accept="application/pdf" name="curriculum")
                    
                    input(type="submit" value="Submit").boton