extend ../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido

        main
            section.news__titular
                h2 Noticias

            div.news__container
                //ESTO SERÁ ELIMINADO CUANDO SE HAGA EL BACKEND
                section.news-noticias
                    
                    //SEPTIEMBRE
                    +aviso("06septiembre.webp","Fotos de actividad fundación colabora", "Entrega de escolares a niños de la comunidad de  Villa Mella","06 de Septiembre", "/html/noticias/publicaciones/06septiembre.html")
                    hr
                    
                    +aviso("03septiembre.webp","foto del Ingeniero Mauricio Rodriguez", "Conoce a Mauricio Rodriguez", "03 de Septiembre", "/html/noticias/publicaciones/03septiembre.html")
                    hr

                    //AGOSTO
                    +aviso("19agosto.webp","foto de Edgar Melendez", "¡Felicidades Edgar J. Melendez!","19 de Agosto", "/html/noticias/publicaciones/19agosto.html")
                    hr

                    +aviso("15agosto.webp","Foto del día de la restauración", "Día de la Restauración","15 de Agosto", "/html/noticias/publicaciones/15agosto.html")
                    hr
                    
                    +aviso("09agosto.webp","Foto de Gerentes de MLA en INTEC", "Taller de Desarrollo de Competencias Gerenciales en INTEC", "09 de Agosto", "/html/noticias/publicaciones/09agosto.html")
                    hr



                    //JULIO
                    
                    +aviso("25julio.webp","Imagen descriptivas", "Emision del reporte país por país Acción 13, Proyecto BEPS","25 de Julio", "/html/noticias/publicaciones/25Julio.html")
                    hr
                    
                    +aviso("23julio.webp","foto de la licenciada Sayka Mejia en el congreso", "XIV Congreso Tributario", "23 de Julio", "/html/noticias/publicaciones/23Julio.html")
                    hr

                    +aviso("22julio.webp","foto descriptiva de la noticia", "Felicitaciones Bepensa Dominicana","22 de Julio", "/html/noticias/publicaciones/22Julio.html")
                    hr

                    +aviso("17julio.webp","Imagen descriptiva", "Comprobantes de gastos menores (b13 e-43)","17 de Julio", "/html/noticias/publicaciones/17Julio.html")
                    hr
                    
                    +aviso("16julio2.webp","Foto con ejecutivos de MLA", "Energía del Futuro: Innovación y Sostenibilidad", "16 de Julio", "/html/noticias/publicaciones/16Julio2.html")
                    hr

                    +aviso("16julio.webp","Foto de la Licenciada Firelli", "Taller de Objetivos de Desarrollo Sostenible","16 de Julio", "/html/noticias/publicaciones/16Julio.html")
                    hr

                    +aviso("09julio.webp","Fotos de ejecutivos de MLA", "Aniversario 80 ICPARD","09 de Julio", "/html/noticias/publicaciones/09Julio.html")
                    hr

    



                    //Junio
                    +aviso("10junio.webp","foto descriptiva de la noticia", "Tasa de cambio APA Mayo 2024","10 de Junio", "/html/noticias/publicaciones/10Junio.html")
                    hr
                    +aviso("05junio.webp","Planeta tierra siendo sostenido por manos de hijo y su padre", "Día Mundial del Medio Ambiente","05 de Junio", "/html/noticias/publicaciones/05Junio.html")
                    hr
                    +aviso("03junio.webp","foto de la licenciada Firelli Mejía", "XXII Congreso Regional de Auditoría Interna", "03 de Junio", "/html/noticias/publicaciones/03Junio.html")
                    hr
                    
                    //Mayo
                    +aviso("29mayo.webp","foto con texto sobre lo que se va a leer abajo", "Aviso Importante","29 de mayo", "/html/noticias/publicaciones/29Mayo.html")
                    hr
                    +aviso("26mayo.webp","foto con texto sobre lo que se va a leer abajo", "Feliz día de las madres","26 de mayo", "/html/noticias/publicaciones/26Mayo.html")
                    hr
                    +aviso("21mayo.webp","foto con texto sobre lo que se va a leer abajo", "El Lic. Raymi Mejía participará en dos eventos internacionales clave de BKR International", "21 de mayo", "/html/noticias/publicaciones/21Mayo.html")
                    hr
                    

                    //ABRIL

                    +aviso("16abril.webp","foto con texto sobre lo que se va a leer abajo", "Conoce los beneficios de la facturación electrónica","16 de abril", "/html/noticias/publicaciones/16abril.html")
                    hr
                    +aviso("19marzo.webp","foto con texto sobre lo que se va a leer abajo", "Tasa de cambio para la liquidación y pago de ITBIS en Hoteles acogidos a acuerdos de precios anticipados.","13 de abril", "/html/noticias/publicaciones/13abril.html")
                    hr
                    +aviso("19marzo.webp","foto con texto sobre lo que se va a leer abajo", "Disponibilidad para presentación Declaración Jurada Anual Agente de Retención de Asalariados (IR-13)", "19 de marzo","/html/noticias/publicaciones/19Marzo.html")
                    hr
                    +aviso("8marzo.webp","Imágen Día Internacional de la mujer", "Hoy conmemoramos el Día Internacional de la Mujer","8 de marzo","/html/noticias/publicaciones/8Marzo.html")
                    hr
                    +aviso("7marzo.webp","foto con texto sobre lo que se va a leer abajo", "Tasa de cambio para la liquidación y pago de ITBIS en hoteles acogidos a APA","7 de marzo","/html/noticias/publicaciones/7Marzo.html")
                    hr
                    +aviso("5marzo.webp","foto con texto sobre lo que se va a leer abajo", "Fecha límite de pago 1ERA. cuota IPI 2024","05 de Marzo", "/html/noticias/publicaciones/5Marzo.html")
                    hr
                    //Febrero
                    +aviso("20feb.webp","foto de la Licenciada Sayka Mejía", "Juramentación Women of IFA Network (WIN) International Fiscal Association (IFA)","19 de febrero", "/html/noticias/publicaciones/19Febrero.html")
                    hr
                    +aviso("15febrero.webp","foto con texto sobre lo que se va a leer abajo", "Nuevos topes de cotización para el Régimen contributivo","15 de febrero", "/html/noticias/publicaciones/15Febrero.html")
                    hr
                    +aviso("FEB7.webp","Foto informativa con el planeta y el logo de la firma","Fecha límite presentación IR-13","7 de Febrero","/html/noticias/publicaciones/7Febrero.html")
                    hr
                    
                    +aviso("FEB6.webp","Foto informativa con el planeta y el logo de la firma","Vencimiento plazo de implementación facturación electronica","6 de Febrero","/html/noticias/publicaciones/6Febrero.html")
                    hr
                    
                    
                    +aviso("ley179-09.webp","Foto informativa con el planeta y el logo de la firma","FECHA LÍMITE ISR ASALARIADOS ACOGIDOS A LEY GASTOS EDUCATIVOS","1 de Febrero","/html/noticias/publicaciones/1Febrero.html")
                    hr
                   
                    //ENERO
                    
                    +aviso("fitur.webp","Foto del Licenciado Raymi Mejia y la Licenciada Maria Curiel en Fitur 2024","MLA presente en Fitur 2024","25 de Enero","/html/noticias/publicaciones/25Enero.html")
                    hr

                    +aviso("implementacionProyecto.webp","Foto con las mismas letras de la descripción","Implementación Proyecto BEPS Acción 13 Reporte País por País","22 de Enero","/html/noticias/publicaciones/22Enero.html")
                    hr


                    +aviso("elevandoExito.webp","Foto con las mismas letras de la descripción","Your Expert Partner in the journey of success","17 de Enero","/html/noticias/publicaciones/17Enero.html")
                    hr

                    +aviso("licenciadoRaymi.webp","Foto del licenciado Raymi en presentacion de resultados","Presentación de resultados del Ministerio de Turismo 2023","13 de Enero","http://www.instagram.com/p/C2DKRe6rnt_/?hl=es&img_index=1")
                    hr

                    //DICIEMBRE
                    +aviso("placa.webp","Reconocimiento a la excelencia","Reconocimiento por la Excelencia","12 de Diciembre","www.instagram.com/p/C1Hoj7rrcc7/?hl=es&img_index=1")
                    hr

                    +aviso("presentacion.webp","Slide de Powerpoint","Tendencias de la Tributación en un mundo digitaliazdo","11 de Diciembre","Compartimos ponencia de la Lic. Sayka Mejía, como expositor invitado en el XIII Congreso Tributario IFA-RD 2023.", "","http://www.instagram.com/p/C0R1Cz3rnDv/?hl=es&img_index=1")
                    hr

                    //NOVIEMBRE
                    +aviso("reunionDeFirmas.webp","Reunion de BKR Internacional","Reunion Mundial de Firmas BKR International","17 de Noviembre","http://www.instagram.com/p/CzwQMIQLdId/?hl=es&img_index=1")
                    hr
                    +aviso("ampliacion.webp","letras iguales al texto de abajo","Ampliacion en MLA","14 de Noviembre","http://www.instagram.com/p/Czoa8miLptj/?hl=es&img_index=1")
                    hr
                    +aviso("cenaClausura.webp","Foto del cierre de la cena","XXXV Conferencia Interamericana de conabilidad","13 de Noviembre","http://www.instagram.com/p/CzXPzDpLinX/?hl=es&img_index=1")
                    hr



                    //MAYO — ATRASADAS
                    +aviso("microsoftteams-image.webp","Reunion de BKR Internacional","BRK Regional Meeting","24 de Mayo","http://www.instagram.com/p/CsoQWllLdfD/?hl=es")
                    hr
                    +aviso("microsoftteams-image-1.webp","letras iguales al texto de abajo","Elevamos nuestro compromiso","19 de Mayo","http://www.instagram.com/p/CsjpyYsvDRL/?hl=es")
                    hr
                    +aviso("publicacion-1.webp","letras iguales al texto de abajo","Día del contador público","17 de Mayo","")
                    hr
                    +aviso("1.webp","Imágen con el mismo texto de debajo","Miembros de BKR INTERNACIONAL","10 de Abril","http://www.instagram.com/p/Cq3e3z3PHl6/?hl=es")
                    hr
                    +aviso("aviso-normas-08.webp","imágen con texto descriptivo","Norma General No.08-2022","20 de Mayo","")
                    hr
                    +aviso("plantilla-informativa-mla-5.webp","imágen con texto descriptivo","Tasas de cambio para el tratamiento de las diferencias cambiarias","5 de Mayo","")
                    hr
                    +aviso("1-1.webp","imágen con texto descriptivo","Norma general No.09-2021","9 de Noviembre","")
                    hr
                    +aviso("1co.webp","imágen con texto descriptivo","Actualización de multas administrativas","2 de Noviembre","")
                    hr
                    +aviso("colaboradores-2.webp","Foto del Lic. Lisandro Gonzalez","Promoción interna MLA","2 de Noviembre","http://www.instagram.com/p/CVxvt2yrcRE/?hl=es")
                    hr
                    +aviso("4.webp","imágen con texto descriptivo","Actividad de lanzamiento de alanube soluciones","30 de Octubre","")
                    hr
                    +aviso("1635541951809.webp","imágen con texto descriptivo","Día nacional de la prevención del lavado de activos","29 de Octubre","")
                    hr
                    +aviso("noticia5.webp","imágen con texto descriptivo","Obligación de remisión del estudio de precios de transferencia","27 de Octubre","")
                    hr
                    +aviso("noticia6.webp","imágen con texto descriptivo","Multiplicador para el ajuste con inflación cierre al 30 de septiembre 2021","25 de Octubre","")
                    hr
                    +aviso("noticia4.webp","imágen con texto descriptivo","Tasas de cambio para el tratamiento de las diferencias cambiarias","25 de Octubre","")
                    hr
                    +aviso("noticia3.webp","imágen con texto descriptivo","Nuevas facilidades de pago para deudas tributarias","22 de Octubre","")
                    hr
                    +aviso("noticia2.webp","imágen con texto descriptivo","Fecha límite presentación de la declaración jurada IR-2 2021 Cierre 30 de Junio","22 de Octubre","")
                    hr
                    +aviso("noticia1.webp","imágen con texto descriptivo","Fecha límite de pago 2da cuota impuesto sobre activos (ISA) del periodo 2020","21 de Octubre","")
                    