//VARIABLES
$letraPrincipal: 'Montserrat', sans-serif;
$colorLetra1: #02142B;
$colorLetra2: white;
$colorPrincipal: #F7F7F7;
$colorSecundario: white;
$colorTerciario: #043877;
$colorCuaternario: #089de8;

$breakpoint-tablet: 750px;
$breakpoint-laptop: 1050px;
$breakpoint-desktop: 1500px;