.main-container__clientes {
    @include wH(100%, auto);
    @include flexRule(column,center,center);
    padding: 64px 24px;
    gap: 36px;
  
    
    h2{
        width: 100%;
        font-size: 3.2rem;
        justify-self: flex-start;
        margin-bottom: 60px;
        color: $colorLetra1;
  
        .linea{
            @include wH(150px,4px);
            background-color: $colorCuaternario;
            border-radius: 0 0 8px 0;
            @include boxShadowLite;
        }
    }
  
    .carousel {
        @include wH(100%, auto);
        @include flexRule(null,center);
        margin-bottom: 25px;
    
        div.autoplay{
            width: 80vw;

            div{
                @include flexRule(null,center);
                
                img {
                width: 200px;
                height: 100px;
                }
            }
        }
    }
    
    @media(min-width: $breakpoint-tablet){
        padding: 80px 24px;
        gap: 48px;
      
        .carousel {
        
            div.autoplay{
                width: 85%;
                display: flex;
                gap: 40px;
                
                .carrusel-Item{
                    @include flexRule(null,center);
                
                    img {
                        width: 150px;
                        height: 100px;
                    }
                }
            }
        }
    }

    @media(min-width: $breakpoint-desktop){
        padding: 100px 24px;
        
        h2{
            max-width: 1300px;
            font-size: 3.6rem;
            margin-left: 76px;
        }
    
        .carousel {
            @include wH(90%, auto);
            max-width: 1300px;
        
            div.autoplay{
                width: 95%;

                .carrusel-Item{
                
                    img {
                        width: 200px;
                        height: 100px;
                    }
                }
            }
        }
    }
}