.nosotrosMV {
    background-color: $colorCuaternario;
    color: $colorLetra2;
    padding: 48px 0 32px;
    @include flexRule(column,null,center);
    
    .nosotrosMV__text{
        width: 90%;
        
        h2 {
            font-size: 2.8rem;
            margin-bottom: 20px;
        }
        
        p {
            font-size: 1.4rem;
            margin-bottom: 20px;
        }
    }

    @media(min-width: $breakpoint-tablet){
        .nosotrosMV__text{
            width: 90%;
            
            h2 {
                font-size: 3.5rem;
                margin-bottom: 20px;
            }
            
            p {
                font-size: 1.6rem;
                margin-bottom: 40px;
                line-height: 2.4rem;
            }
        }
    }

    @media(min-width: $breakpoint-laptop){
        .nosotrosMV__text{
            @include flexRule(row);
            gap: 64px;
            
            .nosotrosMV__text--1 {
                width: 448px;
                h2 {
                    font-size: 3.5rem;
                    margin-bottom: 20px;
                }
                
                p {
                    font-size: 1.6rem;
                    margin-bottom: 40px;
                    line-height: 2.4rem;
                    font-weight: 300;
                }
            }
            
            .nosotrosMV__text--2 {
                width: 448px;
                
                h2 {
                    font-size: 3.5rem;
                    margin-bottom: 20px;
                }
                
                p {
                    font-size: 1.6rem;
                    margin-bottom: 40px;
                    line-height: 2.4rem;
                    font-weight: 300;
                }
            }
        }
    }

    @media(min-width: $breakpoint-desktop){
        .nosotrosMV__text{
            width: 100%;
            max-width: 1400px;
            justify-content: center;
            
            .nosotrosMV__text--1 {
                width: 575px;
                                
                p {
                    font-weight: 400;
                }
            }
            
            .nosotrosMV__text--2 {
                width: 566px;
               
                
                p {
                    font-weight: 400;
                }
            }
        }
    }
}