.registro {
    @include flexRule(column,null,center);

    &__titular {
        font-size: 3.6rem;
        font-weight: 300;
        margin-bottom: 40px;
    }

    &__item-container{

        .registro__item {
            @include wH(290px,168px);
            padding: 20px;
            border: solid 1px $colorSecundario;
            text-align: center;
            margin-bottom: 60px;
            @include flexRule(null,null,center);
    
            h2{
                font-size: 1.5rem;
                font-weight: 400;
            }
        }
    }

    @media(min-width: $breakpoint-tablet){
        &__item-container{
            @include flexRule(null,center,null);
            flex-wrap: wrap;
            gap: 40px;

            .registro__item {
                @include wH(290px,168px);
                padding: 20px;
                border: solid 1px $colorSecundario;
                text-align: center;
                margin-bottom: 48px;
                @include flexRule(null,null,center);
        
                h2{
                    font-size: 1.5rem;
                    font-weight: 400;
                }
            }
        }
    }

    @media(min-width: $breakpoint-laptop){
        margin-bottom: 60px;
    
        &__item-container{
            gap: 20px;

            .registro__item {
                width: 220px;
        
                h2{
                    font-size: 1.5rem;
                    font-weight: 400;
                }
            }
        }
    }

    @media(min-width: $breakpoint-desktop){
        margin-bottom: 60px;
        max-width: 1300px;
        margin: 0 auto;
    
        &__item-container{
            gap: 20px;

            .registro__item {
                width: 280px;
        
                h2{
                    font-size: 1.5rem;
                    font-weight: 400;
                }
            }
        }
    }
}