.nosotrosExp{
    width: 100%;
    background-color: $colorPrincipal;
    @include flexRule(null, center);

    .nosotrosExp__container{
        @include flexRule(column,null,center);
        width: 90%;
        padding-top: 48px;

        h2{
            font-size: 3.5rem;
            font-weight: 400;
            color: $colorTerciario;
            margin-bottom: 8px;
        }

        p{
            font-size: 1.9rem; 
            margin: 0 12px;
            margin-bottom: 28px;
        }

        .nosotrosExp__list{
            @include flexRule(null,center);
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 48px;
            ul {
                list-style: none;

                li{
                    @include wH(150px, 40px);
                    font-size: 1.4rem;
                    margin-bottom: 4px;
                }
            }
        }
    }
}