.main__servicios{
    @include wH(100%,auto);
    margin: 0 auto;
    padding: 80px 24px;
    @include flexRule(column,null,center);

    h2{
        width: 100%;
        font-size: 3.2rem;
        justify-self: flex-start;
        margin-bottom: 40px;

        .linea{
            @include wH(150px,4px);
            background-color: $colorCuaternario;
            border-radius: 0 0 8px 0;
            @include boxShadowLite;
        }
    }

    .servicios__contenedor{
        @include flexRule(column,center,center);
        gap: 32px;
    }

    @media(min-width: $breakpoint-tablet){
        padding: 90px 24px;

        h2{
            margin-bottom: 24px;
            margin-left: 40px;
        }

        .servicios__contenedor{
            @include flexRule(row,center,center);
            flex-wrap: wrap;
            @include wH(100%, 100%);
            gap: 40px;
        }
    }

    @media(min-width: $breakpoint-desktop){
        max-width: 1400px;
        padding: 120px 24px;
    
        h2{
            font-size: 3.6rem;
            margin-left: 80px;
    
            .linea{
                @include wH(160px,6px);
            }
        }
    
        .servicios__contenedor{
            gap: 32px;  
        }
    }
}