.cert-container__principal{
    padding: 48px 24px;
    
    strong {
        text-align: center;
        display: block;
        font-size: 2rem;
        line-height: 2.8rem;
        padding-bottom: 15px;
        font-weight: 400;
    }

    p {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
        margin-bottom: 24px;
    }
    
    picture{
        @include flexRule(column,null,center);
        
        img{
            margin-bottom: 15px;
        }
    }
}

@media (min-width: 700px){
    .cert-container__principal{
        padding: 48px 48px;

        picture{
            @include flexRule(row,center);
            flex-wrap: wrap;
            gap: 28px;
            padding-top: 28px;
        }
    }
}

@media (min-width: 1500px){
    .cert-container__principal{
        max-width: 1300px;
        margin: 0 auto; 
    }
}