extend ../../componentes/_plantilla.pug

block javaScript
    script(src="../../subscript.js")

block contenido
 
        main
            section.encabezado
                section.proteccion__encabezado
                    div
                        h2 Protección Patrimonial
                    
            
                section.proteccion__enfoque
                    picture
                        img(src="../../img/servicios/foto-protec.webp", alt="Hablando de negocios")
                    article
                        strong  Asesoramos sobre los procesos tendientes a salvaguardar el patrimonio personal y familiar, mediante un conjunto de procedimientos destinados a prevenir el surgimiento de eventualidades que afectan la estabilidad y continuidad patrimonial de una organización.
                        p Emitimos opinión experta en materia de gestión; específicamente en ámbitos jurídicos, financieros, tributarios y contables. Estos servicios abarcan entre otros el asesoramiento a organizaciones de:
                        ul
                            li Fideicomisos
                            li Fundación de Intereses Privado
                            li Otros

           

            section.auditoria__contacto.fade-in
                p Para obtener mas información y solicitar nuestros servicios
                a(href="../../html/contacto/contacto.html") Contáctenos ahora